<ion-view view-title="Adding event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
      <div class="text-left">
          <button class="button button-icon icon ion-chevron-left" ng-click="addGroupFriendsClose();"></button>
      </div>
      <div class="header-lead-text">
        <span class="float_l lead">Add Group Connections</span>
      </div>
    </ion-header-bar>

    <ion-content>
        <div class="signup-wrapper">
<!--             <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="addGroupFriendsClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="col col-80">
                        <h3>Add Group Connections</h3>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-67 col-offset-33">
                    </div>
                </div>
            </div> -->
            <!-- END .header -->
            <div class="friends-head-buttons">
                <div class="left friends-search-input">
                    <i class="icon ion-search placeholder-icon blac"></i>
                    <input class="place-friend" type="text" ng-model="searchFriend" placeholder="Search friend(s)"/>
                </div>                    
            </div>
            <ion-list>
                <div class="friends-add-new-contain">
                    <div class="friends-list">
                        <ion-checkbox ng-repeat="friend in friendslist | filter: searchFriend" ng-model="groups.selectedGroupFriends[friend._id]" ng-show="!isAddFriendsEdit">
                            <a class="item item-avatar" href="#">
                                <img src="./img/user1.jpg">
                                <h2>{{friend.name}}</h2>
                            </a>
                        </ion-checkbox>
                        <ion-checkbox ng-repeat="friend in addFriendsList | filter: searchFriend" ng-model="groups.selectedGroupFriends[friend._id]" ng-show="isAddFriendsEdit">
                            <a class="item item-avatar" href="#">
                                <img src="./img/user1.jpg">
                                <h2>{{friend.name}}</h2>
                            </a>
                        </ion-checkbox>
                    </div>
                    <button class="button button-block button-balanced" ng-click="addGroupFriendsClose()" ng-show="!isAddFriendsEdit">
                        Add Connections
                    </button>
                    <button class="button button-block button-balanced" ng-click="addGroupFriendsClose('edit')" ng-show="isAddFriendsEdit">
                        Add Connections
                    </button>
                </div>
            </ion-list>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>