<ion-view view-title="Adding Group" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
      <div class="text-left">
          <button class="button button-icon icon ion-chevron-left" ng-click="addGroupClose();"></button>
      </div>
      <div class="header-lead-text">
        <span class="float_l lead">Edit Group</span>
        <!-- <span style="cursor:pointer;" class="pm_upload_img" ng-click="uploadFile()">
          <i class="icon ion-image"></i>
        </span> -->
      </div>
    </ion-header-bar>
    <ion-content>
        <div class="signup-wrapper">
<!--             <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="addGroupClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="col col-50">
                        <h3>Edit Group Info.</h3>
                    </div>
                    <div class="col" ng-click="addGroupFriendsOpen();" ng-show="!addGroupEdit">
                        <span>
                            <i class="icon ion-ios-plus-outline"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-67 col-offset-33">
                    </div>
                </div>
            </div> -->

            <ion-list>
                <div class="friends-add-new-contain">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Group Name</span>
                        <input type="text" placeholder="Group Name" ng-model="groups.groupname">
                    </label>
<!--                     <label class="item item-input item-select">
                        <div class="input-label">
                            Group Type
                        </div>
                        <select ng-options="type as type.label for type in groups.groupTypes track by type.id" ng-model="groups.selectedGroupType">
                        </select>
                    </label>
                    <label class="item item-input item-floating-label" ng-show="groups.selectedGroupType.id == 4">
                        <span class="input-label">Custom Type Name</span>
                        <input type="text" placeholder="Custom Type Name" ng-model="groups.customTypeName">
                    </label> -->
                    <button class="button button-block button-balanced" ng-click="groups.addGroup()" ng-show="!addGroupEdit">
                        Save
                    </button>
                    <button class="button button-block button-balanced" ng-click="groups.addGroup('edit')" ng-show="addGroupEdit">
                        Save
                    </button>
                </div>
            </ion-list>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>