<ion-view view-title="Adding event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
      <div class="text-left">
          <button class="button button-icon icon ion-chevron-left" ng-click="addFriendClose();"></button>
      </div>
      <div class="header-lead-text">
        <span class="float_l lead">Add New Connection</span>
        <!-- <span style="cursor:pointer;" class="pm_upload_img" ng-click="uploadFile()">
          <i class="icon ion-image"></i>
        </span> -->
      </div>
    </ion-header-bar>
    <ion-content>
        <div class="signup-wrapper">
<!--             <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="addFriendClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="col col-80">
                        <h3>Add New Connection</h3>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-67 col-offset-33">
                    </div>
                </div>
            </div> -->

            <ion-list>
                <div class="friends-add-new-contain">
                    <!--<label class="item item-input">-->
                    <!--    <span class="input-label">First Name</span>-->
                    <!--    <input type="text" ng-model="friend.firstName">-->
                    <!--  </label>-->
                    <!--  <label class="item item-input">-->
                    <!--    <span class="input-label">Last Name</span>-->
                    <!--    <input type="text" ng-model="friend.lastName">-->
                    <!--  </label>-->
                    <label class="item item-input">
                            <i class="icon ion-iphone placeholder-icon"></i>
                            <!-- <input type="text" ng-model="friend.mobNumber" ui-mask="(999) 999-9999"/> -->
                            <input class="mobnumber-input" type="tel" ng-model="friend.mobNumber" ui-mask="(999) 999-9999">
                            <span class="mobnumber-placeholder" ng-show="!friend.mobNumber">Mobile Phone</span>
<!--                            (
                            <input type="text" ng-model="friend.mobNumberFirst" ng-change="friend.validatePhoneNum(1)">
                            )
                            <input type="text" id="mob_num_input_second" ng-model="friend.mobNumberSecond" ng-change="friend.validatePhoneNum(2)">
                            -
                            <input type="text" id="mob_num_input_third" ng-model="friend.mobNumberThird" ng-change="friend.validatePhoneNum(3)"> -->
                        
                    </label>
                    <label class="item item-input friend-add-email">
                        <i class="icon ion-ios-email-outline"></i>
                        <input type="email" ng-model = "friend.email" placeholder="Email">
                    </label>
                    <button class="button button-block button-balanced" ng-click="addFriend()">
                        Submit
                    </button>
                </div>
            </ion-list>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>