<ion-view view-title="Select Feeds" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
	<ion-content>
		<div class="signup-wrapper select-feed-screen">
		<div class="header">
                <div class="row">
                    <div class="text-left" ng-click="modalAddNewSource.hide();">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>Add New Source</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>
			<label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.firstname.$invalid)}'>
				 <i class="icon ion-edit placeholder-icon"></i> 
<!--				<div class="holder feeds-holder"><span class="red">*</span>ESPN Top Headlines</div>-->
				<input type="text" name="srcname"  ng-model="newFeed.srcname"  ng-required="true" placeholder="Feed Name*">
			</label>
			<label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.firstname.$invalid)}'>
				 <i class="icon ion-link placeholder-icon"></i> 
<!--				<div class="holder feeds-holder"><span class="red">*</span>http://www.espn.com/espn/rss/news</div>-->
				<input type="text" name="srcurl"  ng-model="newFeed.srcurl"  ng-required="true" placeholder="Feed URL*">
			</label>
			<button class="button button-block button-balanced" ng-click="closeNewSourceModal()">
				Submit
			</button>
		</div>
	</ion-content>
</ion-view>