<ion-view view-title="Adding event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content class="add-event-content" id="addEventContent" qy-toggle-overflow-scroll>
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="addEventClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>Add New Plan</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>
            <!-- END .header -->

            <div class="form-wrapper">

                <div class="list list-inset" style="margin-top:20px;">
                    <label class="item item-input">
                        <i class="icon ion-edit placeholder-icon"></i>
                        <input type="text" ng-required="true" placeholder="Plan Title*" ng-model="newEvent.title">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-location-outline placeholder-icon"></i>
                        <!--input type="text" placeholder="Location" ng-model="newEvent.location"-->
                        <ion-google-place placeholder="Location*" ng-model="newEvent.location" current-location="true"/>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                        <span ng-if="!newEvent.showDate">Date*</span>
                        <!-- <div class='item' ion-datetime-picker ng-model="newEvent.displayDate"></div> -->
                        <!-- <p class="item item-icon-left" ion-datetime-picker seconds am-pm ng-model="newEvent.displayDate"></p> -->
                        <!-- <input class="item item-icon-left" ion-datetime-picker date ng-model="newEvent.displayDate" />
                        <span>{{newEvent.displayDate}}</span> -->
                       <!-- <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" [(ngModel)]="newEvent.displayDate"></ion-datetime> -->
                       <!-- <input type="date" name="" ng-model="newEvent.displayDate"> -->
                       <button class="date-button" ng-click="openDatePicker(newEvent)">{{newEvent.showDate}}</button>
                       <i class="icon ion-ios-arrow-down"></i>
                    </label>
                    <div class="item item-input">
                        <i class="icon ion-ios-clock-outline placeholder-icon"></i>
                        <span ng-if="!newEvent.showTime">Time*</span>
                        <!-- <input ng-required="true" name="time" type="time" ng-change="datePickerCallback('time')" ng-model="newEvent.dateTime"> -->
                        <button class="date-button" ng-click="openTimePicker(newEvent)">{{newEvent.showTime}}</button>
                        <i class="icon ion-ios-arrow-down"></i>
                    </div>
                    <label class="item item-input item-select plan-invite">
                        <i class="icon ion-ios-personadd-outline placeholder-icon"></i>
                        <select class="plan-invite-select" name="invite" ng-required="true" ng-model="newEvent.invite" ng-class="{'plan-invite-select-placeholder': !newEvent.invite}">
                            <option disabled value="">Invite*</option>
                            <option value="1">Everyone</option>
                            <option value="2">Group</option>
                            <option value="3">Invidually</option>
                        </select>
                        <i class="icon ion-ios-arrow-down"></i>
                    </label>

                    <div class="item item-input" ng-show="newEvent.invite == 2">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="text" name="group" placeholder="Search groups" ng-model="newEvent.groups"
                               ion-autocomplete readonly="readonly" class="ion-autocomplete"
                               autocomplete="off" items-method="getGroupItems(query)"
                               item-value-key="_id" item-view-value-key="name" isInitializing="true">
                    </div>

                    <div class="item item-input" ng-show="newEvent.invite == 3">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="text" name="friend" placeholder="Search contacts" ng-model="newEvent.friends"
                               ion-autocomplete readonly="readonly" class="ion-autocomplete"
                               autocomplete="off" items-method="getItems(query)"
                               item-value-key="email" item-view-value-key="name" isInitializing="true">
                    </div>

                    <label class="item item-input item-select plan-invite">
                        <i class="icon ion-ios-eye-outline placeholder-icon"></i>
                        <select class="plan-invite-select" name="visibility" ng-required="true" ng-model="newEvent.visib" ng-class="{'plan-invite-select-placeholder': !newEvent.visib}">
                            <option disabled value="">Visibility*</option>
                            <option value="1">Private</option>
                            <option value="2">Public</option>
                        </select>
                        <i class="icon ion-ios-arrow-down"></i>
                    </label>
                </div>

                <button type="submit" class="button button-block forgetpass" ng-click="addNewEvent()">
                    Add
                </button>
            </div>
            <!-- END .form-wrapper -->
            <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="!newEvent.title && showErrors" >Please enter title</div>
            <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="!newEvent.location && showErrors" >Please enter location</div>
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>