<ion-view view-title="Change Password" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="signup-wrapper change-pass-screen">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="modalPassClose();">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>Change Password</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>

            <label class="item item-input">
                <i class="icon ion-ios-unlocked-outline placeholder-icon"></i>
                <input type="password" placeholder="Old Password" ng-model="pass.oldPassword">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="password" placeholder="New Password" ng-model="pass.newPassword">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Confirm New Password" ng-model="pass.confirmNewPassword">
            </label>

            <button class="button button-block button-balanced" ng-click="modalPassClose('submit')">
                Update
            </button>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>