<ion-view view-title="Personal Chat" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-stable">
    <!-- <div class="row">
      <div class="text-left" ng-click="hideChatImage()">
        <span>
          <i class="icon ion-chevron-left"></i>
        </span>
      </div>
      <div class="col col-50">
        <h5>Image</h5>
      </div>
      <div class="col">
      </div>
    </div> -->
      <div class="text-left" ng-click="hideChatImage()">
          <span>
                                <i class="icon ion-chevron-left"></i>
                                <span>Back</span>
                            </span>
      </div> 
<!--      </div>-->
      <div class="header-lead-text">
        <span class="float_l lead">Image</span>
        <span style="cursor:pointer;" class="pm_upload_img" ng-click="uploadFile()">
          <i class="icon ion-android-attach"></i>
        </span>
      </div>
  </ion-header-bar>

  <ion-content>
    <img ng-src="{{chatViewImage}}" style="height:100%; width:100%">
  </ion-content>
</ion-view>