<ion-view view-title="Post Name">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="interact-private-messages" ng-show="interact.page==2">
  <ion-list>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search Connection">
    </label>
  </ion-list>
  <div class="item item-avatar"  ng-click="addEventOpen();">
    <img src="img/user2.jpg">
    <h2>Katiesp</h2>
    <p class="ion-reply"> i love you</p>
  </div>
  <div class="item item-avatar"  ng-click="addEventOpen();">
        <img src="img/user1.jpg">
        <h2>dayaki007</h2>
        <p class="ion-android-done"> i am living on top</p>
      </div>
      <div class="item item-avatar" ng-click="addEventOpen();">

        <img src="img/user1.jpg">
      <h2>james777</h2>
        <p class="ion-android-done-all"> thanks for help!</p>

      </div>
      <div class="item item-avatar" ng-click="addEventOpen();">
        <img src="img/user1.jpg">
        <h2>james777</h2>
        <p class="ion-android-done-all"> thanks for help!</p>
      </div>
    </div>
    
</div>
    <div class="interact-posts" ng-show="interact.page==1" >
      <div class="list card">
        
        <div class="item item-body">
        <img class="full-image" src="img/car-960_720.jpg">
      </div>




  <div class="item item-avatar">
    <img src="img/user1.jpg">
    <h3>Is my car not gorgeous? I like it.</h3>
    <p>by <a href="">{{singleval.postby.name}}</a></p>
    <p class="interact-post-likes right">
          <a ng-click="showBoxOne = !showBoxOne" class="subdued"><i class="icon ion-chatbox"></i>{{getco.length}}</a>
          <a ng-click="modal.show();" class="subdued"><i class="icon ion-ios-heart"></i> {{likey.length}}</a>
         
        </p>
  </div>
    
    <div class="item item-avatar" ng-repeat="po in getco">
    
    <h3>{{po.comment}}</h3>
    <p><a href="">{{po.name}}</a></p>

  </div>
   <div class="item item-avatar">
    
      <input ng-model="commm" ng-keyup="$event.keyCode == 13 ? enterrr(commm) : null" style="width:1000px;" type="text" placeholder="Add Comments" >

  </div>
  
  
</div>








    </div>
      
      <div class="tabs interact-tabs">
      <a class="tab-item" ng-click="interact.page=1;" ng-class="interact.page==1 ? 'tab-item-active' : ''">
        Posts
      </a>
      <a class="tab-item" ng-click="interact.page=2;" ng-class="interact.page==2 ? 'tab-item-active' : ''">
        Private Messages
      </a>
  </div>
  </ion-content>
  <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">likes</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list" ng-repeat="likes in likey">
            <label class="item item-input">
              <span class="input-label"> {{likes.name}}</span>
              
            </label>
         
            
           
          </div>
           <button class="button button-full button-positive" ng-click="createContact()">ok</button>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-view>
