<ion-view view-title="Editing event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content class="add-event-content">
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="editEventClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>Edit Event</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>
            <!-- END .header -->

            <div class="form-wrapper">

                <div class="list list-inset" style="margin-top:20px;">
                    <label class="item item-input">
                        <i class="icon ion-edit placeholder-icon"></i>
                        <input type="text" ng-required="true" placeholder="Event Title*" ng-model="editEvent.title">
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-location-outline placeholder-icon"></i>
                        <ion-google-place placeholder="Location *" ng-model="editEvent.location" current-location="true"/>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                       <!--  <ionic-datepicker class="dtpicker" idate="currentDate" disablepreviousdates="true" callback="datePickerEditCallback">
                            <input type="text" placeholder="" ng-model="editEvent.displayDate" readonly style="background-color:transparent;">
                        </ionic-datepicker> -->
                        <!-- <input type="date" name="" ng-model="editEvent.displayDate"> -->
                        <button class="date-button" ng-click="openDatePicker(editEvent)">{{editEvent.showDate}}</button>
                    </label>
                    <div class="item item-input">
                        <i class="icon ion-ios-clock-outline placeholder-icon"></i>
                        <!-- <input ng-required="true" name="time" type="time" ng-change="datePickerEditCallback('time')" ng-model="editEvent.dateTime"> -->
                        <button class="date-button" ng-click="openTimePicker(editEvent)">{{editEvent.showTime}}</button>
                    </div>
                    <label class="item item-input item-select plan-invite">
                        <i class="icon ion-ios-personadd-outline placeholder-icon"></i>
                        <select class="plan-invite-select" name="invite" ng-required="true" ng-model="editEvent.invite">
                            <option disabled value="">Invite</option>
                            <option value="1">Everyone</option>
                            <option value="2">Group</option>
                            <option value="3">Invidually</option>
                        </select>
                    </label>

                    <div class="item item-input" ng-show="editEvent.invite == 2">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="text" name="group" placeholder="Search groups" ng-model="editEvent.groups"
                               ion-autocomplete readonly="readonly" class="ion-autocomplete" external-model="editEvent.exGroups" model-to-item-method="modelToItemMethodGroup(modelValue)"
                               autocomplete="off" items-method="getGroupItems(query)"
                               item-value-key="_id" item-view-value-key="name">
                    </div>

                    <div class="item item-input" ng-show="editEvent.invite == 3">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="text" name="friend" placeholder="Search contacts" ng-model="editEvent.friends" external-model="editEvent.exFriends" model-to-item-method="modelToItemMethodFriend(modelValue)"
                               ion-autocomplete readonly="readonly" class="ion-autocomplete"
                               autocomplete="off" items-method="getItems(query)"
                               item-value-key="email" item-view-value-key="name">
                    </div>

                    <label class="item item-input item-select plan-invite">
                        <i class="icon ion-ios-eye placeholder-icon"></i>
                        <select class="plan-invite-select" name="visibility" ng-required="true" ng-model="editEvent.sh_visib">
                            <option disabled value="">Visibility</option>
                            <option value="1">Private</option>
                            <option value="2">Public</option>
                        </select>
                    </label>

                </div>

                <button type="submit" class="button button-block forgetpass" ng-click="saveEvent()">
                    Save
                </button>
            </div>
            <!-- END .form-wrapper -->
            <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-if="!editEvent.title" >Please enter title</div>
            <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-if="!editEvent.location" >Please enter location</div>
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>