<ion-view view-title="Editing post" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
  <ion-content>
  	<div class="signup-wrapper">
  		<div class="header">
  			<div class="row">
				  <div class="col" ng-click="posts.closeEditPost()">
				  	<span>
						  <i class="icon ion-android-arrow-back"></i>
						</span>
				  </div>
				  <div class="col col-50">
				  	<h3>Edit post</h3>
				  </div>
				  <div class="col">
				  	<!-- <span style="float:right;padding-right:10px">
				  		<i class="icon ion-android-done"></i>
						</span> -->
				  </div>
				</div>
				<!-- END .row -->
				<div class="row">
				  <div class="col col-67 col-offset-33">
				  </div>
				</div>
			<!-- END .row -->
  		</div>
  		<!-- END .header -->

  		<div class="form-wrapper">
  			
			<div class="list list-inset" style="margin-top:40px;">
				
				<label class="item item-input">
                  <span class="input-label">Content</span>
                  <input type="text" ng-model="posts.currentPost.content.postBody">
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Who should see this?
                  </div>
                  <select ng-options="item as item.label for item in posts.shareWith track by item.id" ng-model="posts.currentPost.shareWith[0]"></select>
                </label>
                <div class="item item-input" ng-show="posts.currentPost.shareWith[0].id==2">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input type="text" name="group" placeholder="Search groups" ng-model="posts.selectedGroups"
                      ion-autocomplete readonly="readonly" class="ion-autocomplete" external-model="posts.currentPost.shareWith[0].groupIds" model-to-item-method="modelToItemMethodGroup(modelValue)"
                      autocomplete="off" items-method="getGroupItems(query)"
                      item-value-key="_id" item-view-value-key="name">
				</div>
				
				<div class="item item-input" ng-show="posts.currentPost.shareWith[0].id==3">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input type="text" name="friend" placeholder="Search contacts" ng-model="posts.selectedFriends" external-model="posts.currentPost.shareWith[0].friendIds" model-to-item-method="modelToItemMethodFriend(modelValue)"
                      ion-autocomplete readonly="readonly" class="ion-autocomplete"
                      autocomplete="off" items-method="getItems(query)"
                      item-value-key="_id" item-view-value-key="name">
				</div>
				
				<label class="item item-input">
                  <span class="input-label">Image</span>
                  <span><img ng-src="{{posts.currentPost.content.postImagesUrls[0]}}" alt=""></span>
                </label>
			</div>

			<button type="submit" class="button button-block forgetpass" ng-click="posts.closeEditPost('edit')">
			  Save
			</button>
  		</div>
  </ion-content>
</ion-view>