<ion-popover-view style="width:90%">
        <ion-content>
        <div style="width:100%"></div>
          <!-- <div style="width:100%; float:left">
            <h5>People</h5>
          </div> -->
          <div class="row">    
          <div style="width:100%; float:left">        
            <span ng-repeat="emoji in emojis" ng-bind-html="':'+emoji+':' | emoji" ng-click="getEmoji(emoji)" style="padding:5px; float:left"></span>
          </div>
          </div>

          <!-- <div style="width:100%; float:left">
            <h5>Nature</h5>
          </div>
          <div class="row">            
            <span ng-repeat="nature in emojiListNature" ng-bind-html="nature | emoji"></span>
          </div>
          
          <div style="width:100%; float:left">
            <h5>Object</h5>
          </div>
          <div class="row">            
            <span ng-repeat="object in emojiListObjects" ng-bind-html="object | emoji"></span>
          </div>
          
          <div style="width:100%; float:left">
            <h5>Places</h5>
          </div>
          <div class="row">            
            <span ng-repeat="places in emojiListPlaces" ng-bind-html="places | emoji"></span>
          </div>
          
          <div style="width:100%; float:left">
            <h5>Symbols</h5>
          </div>
          <div class="row">            
            <span ng-repeat="symbols in emojiListSymbols" ng-bind-html="symbols | emoji"></span>
          </div> -->
        </ion-content>
</ion-popover-view>