<ion-view view-title="Forgot Password" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
      <div class="text-left">
          <button class="button button-icon icon ion-chevron-left" ng-click="closePass();"></button>
      </div>
      <div class="header-lead-text">
        <span class="float_l lead">Forgot Password</span>
        <!-- <span style="cursor:pointer;" class="pm_upload_img" ng-click="uploadFile()">
          <i class="icon ion-image"></i>
        </span> -->
      </div>
    </ion-header-bar>
    
    <ion-content class="forget-pass-content">
        <div class="signup-wrapper">
           <!--  <div class="header">
                <div class="row forgot-pass-header">
                    <div class="text-left" ng-click="closePass()">
                        <span>
                            <i class="icon ion-chevron-left"><span>Back</span></i> 
                        </span>
                    </div>
                    <div class="forgot-pass-header-text">
                        <h3>Forgot Password</h3>
                    </div>
                </div>
            </div> -->

            <div class="form-wrapper">
                <h4>Please enter the email address used to create your account</h4>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-email-outline placeholder-icon"></i>
                        <input type="email" placeholder="Email*" ng-model="fp.fpemail">
                    </label>
                </div>

                <button ng-click="forgotPassword()" class="button button-block forgetpass">
                    Continue
                </button>
                <p class="fineprint">You will be able to reset your password on the next page.</p>
            </div>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>