<ion-view view-title="Personal Chat" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
<!--   <ion-header-bar align-title="left" class="bar-stable">
    <div class="row">
      <div class="text-left" ng-click="closeFriendsPopup()">
        <span style="cursor:pointer;" class="back_button">
          <i class="icon ion-chevron-left"></i>
        </span>
      </div>
      <div class="col header-lead-text">
        <span class="float_l">Connection's List</span>
      </div>
    </div>
  </ion-header-bar> -->

<ion-header-bar class="bar-stable bar bar-header" align-title="center">
    <div class="text-left">
        <button class="button button-icon icon ion-chevron-left" ng-click="closeFriendsPopup();"></button>
    </div>
    <div class="header-lead-text">
      <span class="float_l lead">My Connection's</span>
    </div>
</ion-header-bar>

  <ion-content delegate-handle="userMessageScroll" on-scroll="getScrollPos()">
      <ion-list>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search Connection" ng-model="sort.friendSort">
        </label>
      </ion-list>
  	<div class="item item-avatar" ng-repeat="friend in friendslist | filter:sort.friendSort" ng-click="startChat(friend);">
        <img src="img/user2.jpg">
        <h2>{{friend.name}}</h2>
    </div>
  </ion-content>
</ion-view>