<ion-view class="chat-screen" view-title="Personal Chat" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
        <!--
              <div class="text-left">
                  <button class="button button-icon icon ion-chevron-left" ng-click="addEventClose();"></button>
        -->
        <div class="text-left" ng-click="addEventClose()">
            <span>
                <i class="icon ion-chevron-left"></i>
                <span>Back</span>
            </span>
        </div> 
        <!--      </div>-->
        <div class="header-lead-text">
            <span class="float_l lead">{{currentFriend.name}}</span>
            <span style="cursor:pointer;" class="pm_upload_img" ng-click="uploadFile()">
                <i class="icon ion-android-attach"></i>
            </span>
        </div>
    </ion-header-bar>

    <ion-content delegate-handle="userMessageScroll" on-scroll="getScrollPos()" id="chatWindow">
        <div class="list card" ng-repeat="message in chatMessages| orderBy:'-'"  ng-class="{'chat-left': message.from._id != myId}">
            <div class="chat-avatar" ng-if="message.from._id != myId">
                <img src="img/user2.jpg">
            </div>
            <div class="item item-avatar">
                <p ng-class="{'ion-android-done': message.sent == true && message.delivered == false && message.from._id == myId, 'ion-android-done-all': message.sent == true && message.delivered == true && message.from._id == myId}"><span ng-if="message.type == 'Msg'" ng-bind-html="message.msg | emoji">{{}}</span>
                    <img ng-src="{{message.img_path}}" height="150" width="150" ng-if="message.type == 'Image'" ng-click="showChatImage(message.img_path)">
                <p class="chat-message-foot">
                    <span class="chat-message-user" ng-if="message.from._id != myId">{{message.from.firstname}} {{message.from.lastname}}</span>
                    <span class="chat-message-time">{{message.sent_time| date : "MM/dd/yyyy, hh:mm a"}}</span>
                </p>
                </p>
            </div>
        </div>
    </ion-content>

    <form name="sendMessageForm" class="chat_text" ng-submit="sendMessage(input.message, 'Msg', '')" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <div class="footer-btn-wrap">
                <button class="button button-icon fa fa-smile-o footer-btn no-padding-left" type="button" ng-click="emoji_popover.show($event)">
                </button>
            </div>
            <label class="item-input-wrapper">
                <textarea ng-model="input.message" value="" placeholder="Write a message..." required minlength="1"maxlength="1500" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-clear footer-btn no-padding-right" type="submit"
                        ng-disabled="!input.message || input.message === ''">Send
                </button>
            </div>
        </ion-footer-bar>
    </form>

</ion-view>