<ion-view view-title="Adding Group" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="getGroupUsersClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="col col-50">
                        <h3>{{groups.currentGroup.name}}</h3>
                    </div>
                    <div class="col" ng-click="addGroupFriendsOpen('edit');">
                        <span>
                            <i class="icon ion-ios-plus-outline"></i>
                        </span>
                    </div>
                    <div class="col">
                        <span ng-click="openPopover($event);">
                            <i class="icon ion-ios-more-outline"></i>
                        </span>
                    </div>
                </div>
                <!-- END .row -->
                <div class="row">
                    <div class="col col-67 col-offset-33">
                    </div>
                </div>
                <!-- END .row -->
            </div>
            <!-- END .header -->

            <ion-list>
                <div class="friends-list">
                    <a class="item item-avatar" href="#" ng-repeat="user in groups.currentGroupUsers">
                        <img src="./img/user1.jpg">
                        <h2>{{user.name}}</h2>
                    </a>
                </div>
            </ion-list>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>