<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" href="javascript:void(0)" ng-click="addGroupOpen('edit')">
                Edit Group
            </a>
            <a class="item" href="javascript:void(0)" ng-click="removeGroupUsersOpen(groups.currentGroup)">
                Delete Group Users
            </a>
            <a class="item" href="javascript:void(0)" ng-click="groups.removeCurrentGroup(groups.currentGroup['_id'])">
                Delete Group
            </a>
        </div>
    </ion-content>
</ion-popover-view>