<ion-view view-title="Login" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
  <ion-scroll class="login padding">
  	<div class="login-wrapper">

			<div id="logo">
				<img src="img/logo.png">
			</div>

	  	<div id="login-box" align="center">
	  		<form>
	  			<label class="item item-input login-text-box" >
				    <input type="text" placeholder="Email or Phone" ng-model="login.username" style="background:trasnparent !important;">
				  </label>
				  <label class="item item-input login-text-box m-top">
				    <input type="password" placeholder="Password" ng-model="login.password">
				  </label>
				  <a href="#" class="login-create1 no-text-decoration"   ng-click="openPass($event)">Forgot Password?</a>
				  <label class="item item-input submit m-top" ng-click="startSpin();login();">
				  	<p>Log In</p>
				  </label>
	  		</form>
	  		<p id="login_unauthorized" class="err" align="center" style="color: white; margin-top:10px;display:none;">Your Username or Password is invalid, please try again!</p>
	  		
	  <!--	<div class="text-create">
	  		<span class="login-dont" ng-click="openPass()">
		  	Forgot Password
			</span>
	  		</div> -->
	  	</div>
	  	
	  	

  	</div>
  	<!-- END .login-wrapper -->
  </ion-content>

  <div class="text-create">
      <span class="login-create">Don't have an account?<a href="#" class="login-create no-text-decoration"  ng-click="openModal($event)"> Sign up</a></span>
	</div>
  	<!-- END .login-wrapper -->
  </ion-scroll>

  


	<!--   <ion-footer-bar align-text="center" class="bar-assertive">
  	<div id="footer_btn">
  <span ng-click="openModal()">
			  Create Account
		</span>	 
  	
		<span ng-click="openPass()">
		  Forgot Password
		</span>
  	</div>
  </ion-footer-bar>-->
</ion-view>
