<ion-side-menus>
  <ion-pane ion-side-menu-content>
   <!-- <ion-nav-bar type="bar-positive"
                   back-button-type="button-icon"
                   back-button-icon="ion-ios7-arrow-back"
                   animation="nav-title-slide-ios7">
      
       </ion-nav-bar> -->
      <ion-nav-view>
      </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
      <header class="bar bar-header bar-assertive">
          <div class="title">Username</div>
      </header>
      <ion-content has-header="true">
          <ul class="list">
              <!-- <a ui-sref="entry" class="item">Back To Entry Page</a> -->
              <a ui-sref="main.userprofile" class="item" ng-click="toggleMenu()">User Profile</a>
              <a ui-sref="main.invites" class="item" ng-click="toggleMenu()">Invites</a>
              <a ui-sref="main.groups" class="item" ng-click="toggleMenu()">Groups</a>
              <a ui-sref="main.newssettings" class="item" ng-click="toggleMenu()">News/Media Settings</a>
              <a ui-sref="main.settings" class="item" ng-click="toggleMenu()">Settings</a>
              <!-- Polls -->
          </ul>
      </ion-content>
  </ion-side-menu>
</ion-side-menus>

<ion-tabs class="tabs-icon-top tabs-color-active-assertive tabs-bottom" ng-controller="TabsCtrl" ng-class="{'tabs-item-hide': hideTabs}">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-social-rss-outline" icon-on="ion-social-rss-outline" href="#/main/dash">
    <ion-nav-view name="main-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble-outline" href="#/main/interact">
    <ion-nav-view name="main-interact"></ion-nav-view>
  </ion-tab>
  
   <!--Account Tab -->
  <ion-tab icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/main/friends" hidden="true">
    <ion-nav-view name="main-friends"></ion-nav-view>
  </ion-tab>
  
   <!--Account Tab -->
  <ion-tab icon-off="ion-android-menu" icon-on="ion-navicon" href="#/main/menu" ng-click="goToMain();">
    <ion-nav-view name="main-menu"></ion-nav-view>
  </ion-tab>
    <!-- Account Tab -->
  <ion-tab icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar-outline" href="#/main/plan">
    <ion-nav-view name="main-plan"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/main/polls" ng-click="goToPolls();pollsScreen.page=0;">
    <ion-nav-view name="tab-polls"></ion-nav-view>
  </ion-tab>

   <!--Account Tab -->
  <ion-tab icon-off="ion-person" icon-on="ion-android-person" href="#/main/userprofile" hidden="true">
    <ion-nav-view name="main-userprofile"></ion-nav-view>
  </ion-tab>
  <!-- Polls Tab -->
  <!--<ion-tab title="More" icon-off="ion-ios-more-outline" icon-on="ion-more" href="#/main/more">-->
  <!--  <ion-nav-view name="main-more"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!-- Settings Tab -->
  <!-- <ion-tab title="MORE" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/more">
    <ion-nav-view name="main-more"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
