<ion-popover-view> 
	<ion-header-bar>
		<button class="button button-icon icon ion-android-done-all notification-btn" ng-click="markReadAllNotification(true)">
  			Check all as read
		</button>
		<button class="button button-icon icon ion-close notification-btn" ng-click="closePopoverNotifications()">
  			
		</button>
	</ion-header-bar>
	<ion-content> 
		<ion-list ng-repeat="notification in notifications">
		  <ion-item class="item item-button-right">
			    {{notification.content}}
			    <button class="button button-icon icon" ng-click="markReadNotification(notification._id)" ng-class="!notificationIsRead ? 'ion-android-done' : 'ion-android-done-all'">
			    </button>
		  </ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>
