<ion-view view-title="Adding event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content class="polls-details-screen">
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="closePollModal()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>Poll Details</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>
            <!-- END .header -->

            <ion-list>
                <div class="poll-answer-list">
                    <div class="list">

                        <a class="item item-avatar" href="#">
                            <img src="./img/user1.jpg">
                            <h2><span>{{polls.currentPoll.name}}</span> has requested for you to participate in their poll</h2>
                        </a>

                        <label class="item item-input">
                            <span class="input-label">Question:</span>
                            <span class="input-label right">{{polls.currentPoll.question}}</span>
                        </label>

                        <div class="item item-image col left" ng-class="polls.currentPoll.imgUrls.length == 1 ? 'col-100' : 'col-50'" ng-show="polls.currentPoll.imgUrls.length">
                            <img ng-src="{{polls.currentPoll.imgUrls[0]}}">
                        </div>
                        <div class="item item-image col col-50 left" ng-show="polls.currentPoll.imgUrls.length > 1">
                            <img ng-src="{{polls.currentPoll.imgUrls[1]}}">
                        </div>

                        <div class="item polls-rating-item" ng-show="polls.pollType == 2">
                            <span class="input-label">Ratings:</span>
                            <ul class="input-label right polls-stars">
                                <li class="polls-star-rating" ng-repeat="star in [1, 2, 3, 4, 5]">
                                    <a href='' ng-click="polls.starRating(star)">
                                        <div ng-switch="polls.selectedRating >= star">
                                            <div ng-switch-when="true">
                                                <i class="icon ion-ios-star"></i>
                                            </div>
                                            <div ng-switch-when="false">
                                                <i class="icon ion-ios-star-outline"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <label class="item item-input item-select" ng-show="polls.pollType == 3">
                            <div class="input-label">
                                Answers:
                            </div>
                            <select ng-model="polls.selectedMultAnswer">
                                <option value="{{polls.currentPoll.preAnswers[0].answer1}}">{{polls.currentPoll.preAnswers[0].answer1}}</option>
                                <option value="{{polls.currentPoll.preAnswers[0].answer2}}">{{polls.currentPoll.preAnswers[0].answer2}}</option>
                                <option value="{{polls.currentPoll.preAnswers[0].answer3}}" ng-show="polls.currentPoll.preAnswers[0].answer3 !== null && polls.currentPoll.preAnswers[0].answer3 !== true">{{polls.currentPoll.preAnswers[0].answer3}}</option>
                                <option value="custom" ng-show="polls.currentPoll.preAnswers[0].answer3 === true || polls.currentPoll.preAnswers[0].answer4 === true">Custom</option>
                            </select>
                        </label>
                        <label class="item item-input" ng-show="polls.pollType == 3 && polls.selectedMultAnswer == 'custom'">
                            <input type="text" placeholder="Custom Answer" ng-model="polls.customAnswer">
                        </label>
                        <label class="item item-input item-select" ng-show="polls.pollType == 1">
                            <div class="input-label">
                                Answers:
                            </div>
                            <select ng-model="polls.selectedAnswer" ng-init="polls.selectedAnswer='yes'">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </label>

                        <button class="button button-block button-balanced" ng-click="closePollModal('submit')">
                            Submit
                        </button>
                    </div>
                </div>
            </ion-list>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>