<ion-view view-title="Post to MemorySphere">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="interact-private-messages" >
    </div> 
   <div class="postfb">
    <div class="toclass"><span>To:</span></div>
    <div class="select-down">
    <select class="form-control">
  <option value="volvo">public</option>
  <option value="saab">Connections</option>
  <option value="mercedes">Only me </option>
  <option value="audi">more...</option>
</select>
</div>
</div>


 <div class="onmnd"> 
<textarea ng-model="textt" placeholder="What's  on your mind?." cols="30" rows="5"></textarea>
    </div>
   


  <div  class="item item-avatar">
  <ul>
      <input type="file" ng-model="file" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" accept="audio/*|video/*|image/*">
      
     <!--<input type="file" ng-model="file" name="file" base-sixty-four-input required onload="onLoad" maxsize="500" accept="audio/*|video/*|image/*">-->
       <!--<li  style="width: 33%;display: inline-block;vertically-align:middle;"><input type="file" id="files" name="files[]"/> <i style="padding-right: 10px;" class="fa fa-camera" aria-hidden="true"></i><a ngclick="#" style="cursor:pointer;color:#000;" > </a></li>-->
  <li  style="width: 33%;display: inline-block;vertically-align:middle;"><i style="padding-right: 10px;" class="fa fa-edit" aria-hidden="true"></i><a ngclick="#"  style="cursor:pointer;color:#000;"></a></li>


<li  style="width: 33%;display: inline-block;vertically-align:middle;"><i style="padding-right: 10px;" class="fa fa-smile-o" aria-hidden="true"></i><a ngclick="#"  style="cursor:pointer;color:#000;"></a></li>   
</ul>
  </div>
   <!--<tr ng-show="file">
        <td>{{file.filename}}</td>
        <td>{{file.filetype}}</td>
        <td>{{file.filesize / 1000}}</td>
        <td>{{file.base64}}...</td>
      </tr>-->
  






 <div class="tabs interact-nav-tab">
      <a class="tab-item" ng-click="postt(textt , file);" ng-class="interact.page==1 ? 'tab-item-active' : ''">
        Post
      </a>
     
  </div>
   

  </ion-content>
  </ion-view>
