<ion-view view-title="Adding event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="privacyEventClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="col col-50">
                        <h3>Privacy settings</h3>
                    </div>
                    <div class="col">
                        <!-- <span style="float:right;padding-right:10px">
                                <i class="icon ion-android-done"></i>
                                </span> -->
                    </div>
                </div>
                <!-- END .row -->
                <div class="row">
                    <div class="col col-67 col-offset-33">
                    </div>
                </div>
                <!-- END .row -->
            </div>
            <!-- END .header -->
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Give planning permission to: </span>
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search contact">
                </label>
                <label class="item item-input">
                    <span class="input-label">Get planning permission from: </span>
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search contact">
                </label>
                <button class="button button-block button-balanced">
                    Save
                </button>
            </ion-list>

            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>