<ion-view view-title="Adding event" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="removeGroupUsersClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                        </span>
                    </div>
                    <div class="col col-50">
                        <h3>Delete Group Connections</h3>
                    </div>
                    <div class="col">
                        <!-- <span style="float:right;padding-right:10px">
                                <i class="icon ion-android-done"></i>
                                </span> -->
                    </div>
                </div>
                <!-- END .row -->
                <div class="row">
                    <div class="col col-67 col-offset-33">
                    </div>
                </div>
                <!-- END .row -->
            </div>
            <!-- END .header -->

            <ion-list>
                <div class="friends-add-new-contain">
                    <div class="friends-list">
                        <ion-checkbox ng-repeat="friend in removeGroupUsersList" ng-model="removeGroupUsersList[$index].remove">
                            <a class="item item-avatar" href="#">
                                <img src="./img/user1.jpg">
                                <h2>{{friend.name}}</h2>
                            </a>
                        </ion-checkbox>
                    </div>
                    <button class="button button-block button-balanced" ng-click="removeGroupUsersClose()">
                        Delete Connections
                    </button>
                </div>
            </ion-list>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>