<ion-view view-title="Select Feeds" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="modalClose();">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>My Feeds</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>

            <ion-list ng-show="feeds.length > 0">
                <ion-checkbox ng-repeat="feed in feeds" ng-model="feed.selected">{{feed.name}}</ion-checkbox>
            </ion-list>
            
            <div class="no-feeds-contain" ng-show="feeds.length == 0">
                <p class="col no-feeds"><i class="icon ion-edit"></i> Add some feeds to show up here...</p>
            </div>

            <button class="button button-block button-balanced" ng-click="modalClose('submit')" ng-disabled="feeds.length == 0">
                Submit
            </button>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>