<ion-view view-title="Sharing post" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
  <ion-content>
  	<div class="signup-wrapper">
  		<div class="header">
  			<div class="row">
				  <div class="col" ng-click="posts.closeSharePost()">
				  	<span>
						  <i class="icon ion-android-arrow-back"></i>
						</span>
				  </div>
				  <div class="col col-50">
				  	<h3>Share post</h3>
				  </div>
				  <div class="col">
				  	<!-- <span style="float:right;padding-right:10px">
				  		<i class="icon ion-android-done"></i>
						</span> -->
				  </div>
				</div>
				<!-- END .row -->
				<div class="row">
				  <div class="col col-67 col-offset-33">
				  </div>
				</div>
			<!-- END .row -->
  		</div>
  		<!-- END .header -->

  		<div class="form-wrapper">
  			
			<div class="list list-inset" style="margin-top:40px;">

                <label class="item item-input item-select">
                <div class="input-label">
                  Who should see this?
                </div>
                <select ng-options="item as item.label for item in posts.shareWith track by item.id" ng-model="posts.sharePostWith"></select>
              </label>
              <div class="item item-input" ng-show="posts.sharePostWith.id==2">
                                <i class="icon ion-ios-search placeholder-icon"></i>
                                <input type="text" name="group" placeholder="Search groups" ng-model="posts.sharePostWith.groupIds"
                                  ion-autocomplete readonly="readonly" class="ion-autocomplete"
                                  autocomplete="off" items-method="getGroupItems(query)"
                                  item-value-key="_id" item-view-value-key="name" isInitializing="true">
                            </div>

                            <div class="item item-input" ng-show="posts.sharePostWith.id==3">
                                <i class="icon ion-ios-search placeholder-icon"></i>
                                <input type="text" name="friend" placeholder="Search contacts" ng-model="posts.sharePostWith.friendIds"
                                  ion-autocomplete readonly="readonly" class="ion-autocomplete"
                                  autocomplete="off" items-method="getItems(query)"
                                  item-value-key="_id" item-view-value-key="name" isInitializing="true">
                            </div>

			</div>

			<button type="submit" class="button button-block forgetpass" ng-click="posts.closeSharePost('share')">
			  Share
			</button>
  		</div>
  </ion-content>
</ion-view>