<ion-view view-title="Sign Up" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-stable bar bar-header" align-title="center">
        <div class="text-left">
            <button class="button button-icon icon ion-chevron-left" ng-click="closeModal();"></button>
        </div>
        <div class="header-lead-text">
            <span class="float_l lead">Sign Up</span>
            <!-- <span style="cursor:pointer;" class="pm_upload_img" ng-click="uploadFile()">
              <i class="icon ion-image"></i>
            </span> -->
        </div>
    </ion-header-bar>
    <ion-content class="signup-content">
        <form  name="myForm" novalidate>
            <div class="signup-wrapper">
                <!--                 <div class="header">
                                    <div class="row signup-header">
                                        <div class="text-left" ng-click="closeModal()">
                                            <span>
                                                <i class="icon ion-chevron-left"><span>Back</span></i>
                                            </span>
                                        </div>
                                        <div class="signup-header-text">
                                            <h3>Sign Up</h3>
                                        </div>
                
                                    </div>
                                </div> -->

                <div class="form-wrapper">
                    <div class="list list-inset">


                        <label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.firstname.$invalid)}'>
                            <i class="icon ion-ios-person-outline placeholder-icon"></i>
                            <div class="holder">First Name<span class="red">*</span></div>
                            <input type="text" name="firstname"  ng-model="signup.firstname"  ng-required="true">
                        </label>

                        <label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.lastname.$invalid)}'>
                            <!--                            <i class="icon ion-ios-person-outline placeholder-icon"></i>-->
                            <div class="holder">Last Name<span class="red">*</span></div>
                            <input type="text" name="lastname" ng-model="signup.lastname"  ng-required="true">
                        </label>
                        <label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.mail.$invalid)}'>
                            <i class="icon ion-ios-email-outline placeholder-icon"></i>
                            <div class="holder">Email<span class="red">*</span></div>
                            <input type="email" name="mail" ng-model="signup.email"  ng-required="true">
                        </label>
                        <label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.pwd.$invalid)}'>
                            <i class="icon ion-ios-locked-outline placeholder-icon"></i> 
                            <div class="holder">Password<span class="red">*</span></div>
                            <input type="password" name="pwd"  ng-model="signup.password"  ng-required="true">
                        </label>
                        <label class="item item-input" ng-class='{"item-invalid": needHighlighting(myForm.repwd.$invalid)}'>
                            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                            <div class="holder">Confirm Password<span class="red">*</span></div>
                            <input type="password" name="repwd" ng-model="signup.password1"  ng-required="true">
                        </label>
                        <div class="item" ng-class='{"item-invalid": needHighlighting(myForm.phone.$invalid)}'>
                            <i class="icon ion-ipad placeholder-icon"></i>
                            <div class="input-label mob-number-label signup-mobile-label">Mobile<span class="red">*</span></div>
                            <div class="mob-number-inputs">    
                                <input type="tel" name="phone" ng-model="signup.phone" ui-mask="(999) 999-9999" ng-required="true">
                                <!--                                (
                                                                <input name="phone"  type="text" ng-model="signup.mobNumberFirst" ng-change="signup.validatePhoneNum(1)" ng-required="true">
                                                                )
                                                                <input name="phone"  type="text" id="mob_num_input_second" ng-model="signup.mobNumberSecond" ng-change="signup.validatePhoneNum(2)" ng-required="true">
                                                                -
                                                                <input name="phone" type="text" id="mob_num_input_third" ng-model="signup.mobNumberThird" ng-change="signup.validatePhoneNum(3)" ng-required="true"> -->
                            </div>
                            <!--                            <input type="text" name="phone" ng-model="signup.phone" ng-pattern="/^[1-9]{1}[0-9]{9}$/"  ng-required="true">-->
                        </div>
                        <label class="item item-input signup-gender">
                            <!--<i class="icon ion-male placeholder-icon"></i>-->
                            <div class="signup-gender-col">  <ion-radio name="gender" ng-required="true" ng-model="signup.gender" ng-value="'Male'" align="left"><i class="icon ion-male"></i><span>Male <span class="asterik asterik7">*</span></span></ion-radio></div>
                            <div class="signup-gender-col"><ion-radio name="gender" ng-required="true" ng-model="signup.gender" ng-value="'Female'"  align="left"><i class="icon ion-female"></i><span>Female <span class="asterik asterik8">*</span></span></ion-radio></div>
                        </label>


                        <!--                        <div class="item signup-dob-item">
                                                        <i class="icon fa fa-birthday-cake placeholder-icon"></i> 
                                                    <div class="dob-input-item" ng-class='{"item-invalid": needHighlighting(myForm.month.$invalid)}'>
                                                        <div class="holder">mm<span class="red">*</span></div>
                                                        <input type="number" id="dob_month" name="month" ng-required="true" ng-model="signup.dob_month" ng-change='signup.validateDate("month")'>
                                                    </div>
                        
                                                    <div class="dob-input-item"ng-class='{"item-invalid": needHighlighting(myForm.day.$invalid)}'> 	
                                                        <div class="holder">dd<span class="red">*</span></div>
                        
                                                        <input type="number" id="dob_day" name="day" ng-required="true" ng-model="signup.dob_day" ng-change='signup.validateDate("day")'>
                                                    </div>
                        
                                                    <div class="dob-input-item" ng-class='{"item-invalid": needHighlighting(myForm.year.$invalid), "item-invalid-year": formYearError}'>
                                                        <div class="holder">yyyy<span class="red">*</span></div>
                                                        <input type="number" name="year" id="dob_year" ng-required="true" ng-model="signup.dob_year" ng-change='signup.validateDate("year")'>
                                                    </div>
                        
                                                </div>	-->

                        <div class="item signup-date" ng-class='{"item-invalid": needHighlighting(myForm.dob.$invalid)}'>
                            <i class="icon ion-ios-calendar-outline left"></i>
                            <div class="input-label mob-number-label signup-mobile-label">Date of Birth<span class="red">*</span></div>
                            <div class="mob-number-inputs">    
                                <input type="date" name="dob" data-date-formate="MM DD YYYY" ng-model="signup.dob" ng-required="true">
                            </div>
                        </div>
                        <label class="item item-input">
                            <i class="icon ion-ios-location-outline placeholder-icon"></i> 
                            <div class="holder">Location<span class="red">*</span></div>
                            <input type="text" ng-model="signup.location">
                        </label>

                        <!-- <label class="item item-input item-select">
                        <div class="input-label">
                        <i class="icon ion-male placeholder-icon"></i>
                        </div>
                        <select>
                        <option selected>Male</option>
                        <option>Female</option>
                        </select>
                        </label> -->
                    </div>
                    <p style="padding-left:10px;font-size:12px;width:90%;margin:0 auto;">
                        <span>**</span>By registering, you agree to our terms and conditions. SMS fees may apply.

                    </p>
                    <div class="col" >
                        <button class="submit-button button button-balanced"  ng-click="signupapi(myForm.$valid)">Sign Up</button>
                        <!--   <label class="item item-input submit" ng-click="signupapi(myForm.$valid)">
                                <p>Submit</p>
                          </label> -->
                    </div>
                    <div class="error-section">
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.username.$error.required" >Please enter username</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.firstname.$error.required" >Please enter first name</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.lastname.$error.required" >Please enter last name</div>


                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.mail.$error.required" >Please enter email</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.pwd.$error.required" >Please enter password</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.repwd.$error.required" >Please re-enter password</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.phone.$error.required" >Please enter mobile</div>

                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.gender.$error.required" >Please select your gender</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.month.$error.required" >Please enter your month of birth</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.day.$error.required" >Please enter your day of birth</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.year.$error.required" >Please enter your year of birth</div>

                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="formYearError" >Please enter valid year of birth</div>

                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.phone.$error.required">Please enter phone number</div>
                        <div style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;"  ng-show="phoneNumberError">Please enter valid phone number</div>


                        <p style="padding-left:10px;font-size:12px;opacity:0.6;width:90%;margin:0 auto;" ng-show="showSignupErrors && myForm.mail.$error.email">
                            Please enter valid email address.

                        </p>
                    </div>
                </div>
                <!-- END .form-wrapper -->
                <div class="row got_account">
                    <div>
                        <p>Already have an account? <a href="#" ng-click="closeModal()">Sign In</a></p>
                    </div>
                </div>
            </div></form>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>
