<ion-view view-title="Event status" hide-tab="true" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="signup-wrapper">
            <div class="header">
                <div class="row">
                    <div class="text-left" ng-click="modalStatusClose()">
                        <span>
                            <i class="icon ion-chevron-left"></i>
                            <span>Back</span>
                        </span>
                    </div>
                    <div class="col col-50 text-left">
                        <h3>Event Status</h3>
                    </div>
                </div>

                <!-- END .row -->
            </div>
            <!-- END .header -->

            <div class="form-wrapper">

                <div class="list status-event">
                <div class="item item-divider">
                    Accepted Requests
                  </div>
                    <a class="item" href="" ng-repeat="friend in events.currentEvenData.acc_list">
                                {{friend.name}} 
                    </a>
                <div class="item item-divider">
                    Declined Requests
                  </div>
                    <a class="item" href="" ng-repeat="friend in events.currentEvenData.rej_list">
                                {{friend.name}}
                    </a>
                </div>

            </div>
            <!-- END .form-wrapper -->
        </div>
        <!-- END .signup-wrapper -->
    </ion-content>
</ion-view>