<ion-view view-title="Planning" hide-tab="true" hide-back-button="true"  ng-init="refreshEvents()">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-chevron-left" ng-click="goToMain();"></button>
    </ion-nav-buttons>
	<ion-content class="greyBG events-content">
		<div class="plans-head-buttons">
			<a class="" ng-click="addEventOpen()">
				<i class="icon ion-ios-plus-empty"></i> Add New Plan
			</a>
<!-- 			<button class="button button-clear button-calm right" ng-click="privacyEventOpen()">
				Privacy
			</button> -->
		</div>
		<div class="list list-inset" style="background:transparent;">
			<div class="events-list">
				<div class="item event-item" ng-repeat="event in eventsList" align="center" style="margin-bottom: 15px">
					<a class="item item-avatar" href="">
						<img src="img/user1.jpg">
						<h2>
							<span ng-if="event.user_ID == event.loggedUser">You</span>
							<span ng-if="event.user_ID != event.loggedUser">{{event.username}}</span>  
							<span ng-if="event.user_ID == event.loggedUser">created this event</span> 
							<span ng-if="event.user_ID != event.loggedUser && event.visibility != '2'">invited you to event</span>
							<span ng-if="event.user_ID != event.loggedUser && event.visibility == '2'">shared a public event</span>
						</h2>
					</a>
					<li class="item data-items">
						<span>Title: </span>
						<span>{{event.title}}</span>
					</li>
					<li class="item data-items">
						<span>Date: </span>
						<span>{{event.dateTime| date:'dd MMM yyyy'}} {{event.dateTime| date:'H:mm'}}</span>
					</li>
					<li class="item data-items">
						<span>Location: </span>
						<span>{{event.location.formatted_address}}</span>
					</li>
					<div id="googleMap{{$index}}" style="width:100%;height:150px;margin-top:12px;">
						{{mapInit($index)}}
					</div>
					<div class="editor-buttons" ng-show="event.user_ID == event.loggedUser">
						<button class="button button-small button-calm" ng-click="editEventOpen($index)">
							Edit
						</button>
						<button class="button button-small button-positive" ng-click="statusEvent($index)">
							Status
						</button>
						<button class="button button-small button-assertive" ng-click="deleteEvent($index)">
							Delete
						</button>
					</div>
					<div class="invited-user-buttons" ng-show='event.user_ID != event.loggedUser && !event.accepted && event.visibility != "2"'>
						<button class="button button-small button-calm" ng-click="acceptEvent($index)">
							Accept
						</button>
						<button class="button button-small button-assertive" ng-click="declineEvent($index)">
							Decline
						</button>
					</div>
					<div class="invited-user-buttons" ng-show='event.user_ID != event.loggedUser && !event.accepted && event.visibility == "2"'>
						<button class="button button-small button-calm" ng-click="subscribeEvent($index)">
							Subscribe
						</button>
						<button class="button button-small button-assertive" ng-click="declineEvent($index)">
							Not interested
						</button>
					</div>
					<div class="invite-user-accepted" ng-show="event.user_ID != event.loggedUser && event.accepted && event.visibility != '2'">
						You have accepted this plan.
					</div>
					<div class="invite-user-accepted" ng-show="event.user_ID != event.loggedUser && event.accepted && event.visibility == '2'">
						You have subscribed this plan.
					</div>

				</div>
				<ion-infinite-scroll on-infinite="refreshEvents()" distance="10%" ng-if="moreCanBeLoaded"></ion-infinite-scroll>
			</div>
		</div>

	</ion-content>		
</ion-view>