<ion-view view-title="Account" hide-side-menu="false" hide-back-button="true" hide-nav-bar="true">
  <ion-content class="profile">
    <div class="profile_img">
    	<img src="img/profile.jpg">
    	<span ng-click="changePhoto()">
    		<i class="ion ion-camera"></i>
    	</span>
    </div>
    <div class="profile_details">
    	<h2>General</h2>
    	<div>
    		<h4>Name <span>Bola Adebowale</span></h4>
    		<h4>Email <span>bigbola@gmail.com</span></h4>
    		<h4>Password <span>.............</span></h4>
            <h4>Birthday <span>June 12, 1981<span></h4>
    	</div>
    </div>
  </ion-content>
</ion-view>
