<ion-view view-title="Account Settings" class="account-setting-main">
  <ion-nav-buttons>
    <button class="button button-icon icon ion-chevron-left" ng-click="goToMain();" ng-show="!pages.pageNum"></button>
  </ion-nav-buttons>
  <div class="setting-header-logo" ng-if="pages.pageNum===0">
    <div class="setting-logo-img">
      <img src="../img/logo.png" alt="settings-logo">
    </div>
  </div>
  <ion-content ng-class="{'user-profile-screen': pages.pageNum===1, 'news-feed-screen': pages.pageNum===2, 'support-screen': pages.pageNum===3, 'manifesto-screen': pages.pageNum===4}">
    <ion-list>
      <div class="account-settings-list" ng-if="!pages.pageNum">
       <a class="item item-icon-left item-icon-right" href="" ng-click="pages.pageNum=1;loadData();changeTitle('Account Settings');">
          <i class="icon ion-ios-person-outline"></i>
          <span>User Profile</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="" ng-click="pages.pageNum=2;loadData();changeTitle('News Feed Settings');">
          <i class="icon ion-social-rss-outline"></i>
          <span>News Feed Settings</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="" ng-click="pages.pageNum=3;changeTitle('Support');">
          <i class="icon ion-ios-help-empty"></i>
          <span>Support</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="" ng-click="pages.pageNum=4;changeTitle('Our Manifesto');">
          <i class="icon ion-document-text"></i>
          <span>Our Manifesto</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <button class="button button-block button-assertive" ng-click="logout();">
        Log Out
      </button>
      </div>
     <div class="user-profile-list" ng-if="pages.pageNum===1"> 
      <label class="item item-input">
        <i class="icon placeholder-icon ion-ios-person-outline"></i>
        <input type="text" ng-model="up.firstname" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="up.lastname" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <i class="icon placeholder-icon ion-ios-calendar-outline"></i>
        <input type="date" ng-model="up.dob" placeholder="Date Of Birth">
      </label>
      <label class="item item-input">
        <i class="icon placeholder-icon ion-ios-email-outline"></i>
        <input type="email" ng-model="up.email" placeholder="Email">
      </label>
      <a class="item item-icon-left item-icon-right" href="" ng-click="modalPassOpen()">
       <i class="icon ion-ios-locked-outline"></i>
        <span>Change Password</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
     <div class="news-feed-settings" ng-if="pages.pageNum===2">
        <a class="item item-icon-right select-feeds-field" href="#" ng-click="modalOpen()" style="clear:both;">
          My Feeds
          <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a href="" class="float-l" ng-click="modalAddNewSource.show()">
          <i class="icon ion-ios-plus-outline"></i> Add New Source
        </a>
     </div>
     <div class="support-list" ng-if="pages.pageNum===3">
       <p>
         Please email <a href="mailto:info@memorysphere.co">info@memorysphere.co</a> for any issues or requests. Please provide as detailed information as possible about your request.
       </p>
     </div>
     <div class="our-manifesto" ng-if="pages.pageNum===4">
      <p>This is your social network. You are fully in control of organically growing your network and sharing content that is of interest to you and your connections.</p><br>

      <p>With other social networks, you are the product. You are the product that advertisers target with their ads. Your content on MemorySphere will never be sold and you will never be tracked for data conversion. We dont use algorithms that control the content you see. All content in your network will always be in chronological order.</p><br> 

      <p>Our team believes in making and sharing memories with those that are important in your life. We want you to have full control of who you're able to connect to, share and make memories with, and bridge the gap between digital and real life.</p>
      <br>
      <p class="text-right"><strong>MemorySphere Team</strong></p>
     </div>
      <script>
        (function() {
          [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
            new SelectFx(el);
          } );
        })();
      </script>
    </ion-list>
  </ion-content>
</ion-view>
