<ion-view view-title="My News" hide-tab="true" hide-back-button="true">
  <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-chevron-left" ng-click="goToMain();"></button>
    </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list class="news-list">
      <div class="news-item" ng-repeat="news in newsFeed.lastNews | orderBy:'-published'">
        <div class="item item-divider">
          <a href="{{news.link}}" class="news_feed_link" target="_blank">{{news.title}}</a>
          <!-- {{news.title}} -->
        </div>
        <div class="item item-text-wrap">
        <!-- <p>{{news.content}}</p> -->
        <!-- <a href="{{news.link}}" class="news-footer left" target="_blank">{{news.feed.name}}</a> -->
            <a href="#" class="news-footer">{{news.published | date : 'dd MMM, yyyy'}}</a>
        </div>
      </div>
      
      <!--<div class="item news-item news-item-thumbnail item-thumbnail-right">-->
      <!--  <img src="img/car-960_720.jpg">-->
      <!--  <div class="item item-divider">-->
      <!--    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,-->
      <!--    sed diam nonummy nibh euismod tincidunt ut laoreet dolore-->
      <!--    magna aliquam erat volutpat.-->
      <!--  </div>-->
      <!--  <div class="item item-text-wrap">-->
      <!--    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,-->
      <!--    sed diam nonummy nibh euismod tincidunt ut laoreet dolore-->
      <!--    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,-->
      <!--    quis nostrud exerci tation ullamcorper suscipit lobortis nisl-->
      <!--    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure-->
      <!--    dolor in hendrerit in vulputate velit esse molestie consequat,-->
      <!--    vel illum dolore eu feugiat nulla facilisis at vero eros et-->
      <!--    accumsan et iusto odio dignissim qui blandit praesent luptatum-->
      <!--    zzril delenit augue duis dolore te feugait nulla facilisi.</p>-->
      <!--  </div>-->
      <!--  <a href="" class="news-footer left">Source of news</a>-->
      <!--</div>-->
      
    </ion-list>
  </ion-content>
</ion-view>
