<ion-view view-title="{{pollsScreen.title}}" ng-init="friendsList();">
    <ion-nav-buttons side="primary">
<!--        <button class="button button-icon icon icon-polls ion-chevron-left" ng-click="pollsScreen.page = 0;" ng-show="pollsScreen.page != 0"></button>-->
        <button class="button button-icon icon-polls-inner-hide icon ion-chevron-left" ng-click="goToMain();" ng-hide="pollsScreen.page != 0"></button>
    </ion-nav-buttons>
  <div class="tabs-top">
   <div class="tabs">
        <a class="tab-item" ng-click="pollsScreen.page=1;" ng-class="pollsScreen.page == 1 ? 'tab-item-active' : ''">
          Create
        </a>
        <a class="tab-item" ng-click="getPolls();pollsScreen.page = 2;" ng-class="pollsScreen.page == 2 ? 'tab-item-active' : ''">
          View Results
        </a>
      </div>
  </div>
    <ion-content class="poll-content">
        <ion-scroll direction="y" style="right: 0;bottom: 50px;left: 0; top: 0px; position: absolute;" class="has-header has-subheader">
            <div class="poll-list-wrapper">
                <ion-list>
                    <div class="polls-requested" ng-show="pollsScreen.page == 0">
                        <div class="list card" ng-repeat="card in requestedPolls" ng-hide="card.skipPoll || card.deleted">
                            <div class="item item-avatar">
                                <img src="./img/user1.jpg">
                                <h2><span>{{card.name}}</span> has requested for you to participate in their poll</h2>
                            </div>

                            <div class="item item-text-wrap">
                                <h3>Question: </h3>
                                <p>{{card.question}}</p>
                                <a href="" class="poll-time">{{card.modified_at | date : "MM/dd/yyyy"}}</a>
                            </div>

                            <div class="item buttons">
                                <button class="button button-balanced button-green" ng-click="openPollModal(card, card.ansType[0].id);polls.selectedRating = -1;">
                                    Answer
                                </button>
                                <button class="button button-assertive" ng-click="declinePollRequest(card)">
                                    Decline
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="polls-list" ng-show="!polls.choisenPoll && pollsScreen.page == 1">
                        <form  name="pollsForm" class="form-validate" novalidate>
                            <label class="item item-input" ng-class='{"item-invalid": highlightInvalid(pollsForm.question.$invalid)}'>
                               <i class="icon placeholder-icon ion-ios-help-outline"></i>
                                <input type="text" class="float-l" name="question" placeholder="Question" ng-model="poll.question"   ng-required="true" placeholder="Question">
                            </label>
                            <label class="item item-input item-select item-icon-right item-icon-left" ng-class='{"item-invalid": highlightInvalid(pollsForm.answerType.$invalid)}'>
                               <i class="icon placeholder-icon ion-ios-information-outline"></i>
                                <select name="answerType" class="float-l" ng-options="item as item.label for item in items track by item.id" ng-model="poll.selected" ng-required="true">
                                    <option disabled value="">Select Answer Type</option>
                                </select>
                                <i class="icon ion-ios-arrow-down"></i>
                            </label>
                            <div class="list multiple-poll-list" ng-show="poll.selected.id == 3">

                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Answer 1</span>
                                    <input type="text" ng-model="poll.answers.answer1" placeholder="Enter predefined Answer 1">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Answer 2</span>
                                    <input type="text" ng-model="poll.answers.answer2" placeholder="Enter predefined Answer 2">
                                </label>
                                <label class="item item-input item-floating-label" ng-show="moreAnswers > 2 && poll.answers.answer3 != true">
                                    <span class="input-label">Answer 3</span>
                                    <input type="text" ng-model="poll.answers.answer3" placeholder="Enter predefined Answer 3 or">
                                </label>
                                <ion-checkbox ng-model="poll.answers.answer3" ng-show="moreAnswers > 2 && (!poll.answers.answer3 || poll.answers.answer3 === true)" ng-click="emptyText()">
                                    User can type in custom answer 3
                                </ion-checkbox>
                                <!--<label class="item item-input item-floating-label" ng-show="moreAnswers>3 && poll.answers.answer4 != true && poll.answers.answer3 !== true">
                                      <span class="input-label">Answer 4</span>
                                      <input type="text" ng-model="poll.answers.answer4" placeholder="Enter predefined Answer 4 or">
                              </label> -->
                                <ion-checkbox ng-model="poll.answers.answer4" ng-show="moreAnswers > 3 && ((!poll.answers.answer4 || poll.answers.answer4 === true) && poll.answers.answer3 !== true)" ng-click="emptyText()">
                                    User can type in custom answer 4
                                </ion-checkbox>
                                <button class="button button-full button-clear button-light" ng-show="(moreAnswers < 4 && poll.answers.answer3 !== true) || moreAnswers < 3" ng-click="showMoreAnswers()">
                                    Add Answer
                                </button>
                                <button class="button button-full button-clear button-light" ng-show="moreAnswers > 2" ng-click="showLessAnswers()">
                                    Remove Answer
                                </button>
                            </div>

                            <label class="item item-input item-select item-icon-right item-icon-left" ng-class='{"item-invalid": highlightInvalid(pollsForm.shareWith.$invalid)}'>
                               <i class="icon placeholder-icon ion-share"></i>
                                <select name="shareWith" class="float-l" ng-options="item as item.label for item in shareWith track by item.id" ng-model="poll.selectedShare" ng-required="true">
                                    <option disabled value="">Share With</option>
                                </select>
                                <i class="icon ion-ios-arrow-down"></i>
                            </label>
                            <label class="item item-input item-select" ng-show="poll.selectedShare.id == 2">
                                <div class="input-label">
                                    Select Group
                                </div>
                                <select ng-options="item as item.name for item in groups" ng-model="poll.selectedGroup" >
                                </select>
                            </label>

                            <label class="item item-input" ng-show="poll.selectedShare.id == 3">
                                <span class="input-label">Select Contacts</span>
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" placeholder="Search Contacts" ng-model="poll.friend"
                                       ion-autocomplete readonly="readonly" class="ion-autocomplete"
                                       autocomplete="off" items-method="getItems(query)"
                                       item-value-key="email" item-view-value-key="name" isInitializing="true" select-items-label="Select Contact(s)" selected-items-label="Selected Contacts" >
                            </label>

                            <label class="item item-input item-select item-icon-right item-icon-left" ng-class='{"item-invalid": highlightInvalid(pollsForm.graphType.$invalid)}'>
                               <i class="icon placeholder-icon ion-pie-graph"></i>
                                <select name="graphType" class="float-l" ng-options="item as item.label for item in graphs track by item.id" ng-model="poll.selectedGraph" ng-required="true">
                                    <option disabled value="">Select Result Graph Type</option>
                                </select>
                                <i class="icon ion-ios-arrow-down"></i>
                            </label>

                            <label class="item item-icon-right item-icon-left" href="" onclick="document.getElementById('upload').click(); return false">
                               <i class="icon ion-image placeholder-icon"></i>
                                <span>Upload Images (2 max.)</span>
                                <i class="icon ion-ios-arrow-right"></i>
                            </label>
                            <button ng-click="uploadFiles()"
                                    accept="image/*" ngf-max-size="2MB" id="upload" style=" width: 1px; height: 1px; display:none" multiple="multiple" ></button>
                            <!-- <input type="file" id="files" name="files" ng-model="files" max-size="2048" multiple ng-change="uploadFiles()"/>
                            <br> -->
                            <!-- Files: -->
                            <ul>
                                <li class="polls-upload-images" ng-repeat="f in files" style="font:smaller">
                                    <!-- {{f.name}} {{f.$errorParam}}-->
                                    <!-- <span class="progress" ng-show="f.progress >= 0">
                                            <div style="width:{{f.progress}}%"
                                                    ng-bind="f.progress + '%'"></div>
                                                  </span> -->
                                    <img style="width:100px;" ngf-thumbnail="f || '/thumb.jpg'"/>
                                    <a href="" ng-click="removeImage($index)"><i class="icon ion-ios-close"></i></a>

                                </li>
                                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                </li>

                                {{errorMsg}}
                            </ul>

                            <button class="button button-full button-balanced" ng-click="savePoll(pollsForm.$valid);">
                                Save Poll
                            </button>
                        </form>
                    </div>

                    <div class="polls-results-list" ng-show="pollsScreen.page == 2">
                        <div class="item item-divider poll-title accordion active" >
                            Your polls<span class="fa fa-chevron-down right" aria-hidden="true"></span>
                            <span class="fa fa-chevron-up right" aria-hidden="true"></span>
                        </div>
                        <ul id="poll-content" class="show">
                            <li ng-repeat="data in allPolls| orderBy: '-created_at'">
                                <div class="poll-result-contain" ng-hide="data.user_ID !== userID || data.deleted">

                                    <div class="item item-text-wrap">
                                        <h3>Question: </h3>
                                        <p>{{data.question}}</p>
                                        <a href="" class="poll-time">{{data.created_at | date : "MM/dd/yyyy"}}</a>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Pie Graph'">
                                        <canvas id="pie" class="chart chart-pie"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Bar Graph'">
                                        <canvas id="bar" class="chart chart-bar"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Line Graph'">
                                        <canvas id="bar" class="chart chart-line"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
  <!--                                   <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Radar Chart'">
                                        <canvas id="radar" class="chart chart-radar"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Polar Area Chart'">
                                        <canvas id="polar-area" class="chart chart-polar-area"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div> -->
                                    <div class="item item-image col left" ng-class="data.imgUrls.length == 1 ? 'col-100' : 'col-50'" ng-show="data.imgUrls.length">
                                        <img ng-src="{{data.imgUrls[0]}}">
                                    </div>
                                    <div class="item item-image col col-50 left" ng-show="data.imgUrls.length > 1">
                                        <img ng-src="{{data.imgUrls[1]}}">
                                    </div>
                                    <div ng-class="{'polls-edit-buttons' : !data.userAnswers.length}">
                                        <a class="poll-edit-buttons" href="" ng-click="findPoll(data.question); pollsScreen.page = 3;" ng-hide="data.userAnswers.length" style="margin-right:8px;"><i class="icon ion-edit"></i></a>
                                        <a class="poll-edit-buttons" href="" ng-click="deletePoll(data._id, permanently);"><i class="icon ion-ios-trash-outline"></i></a>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="item item-divider poll-title accordion" >
                            Others' polls<span class="fa fa-chevron-down right" aria-hidden="true"></span>
                            <span class="fa fa-chevron-up right" aria-hidden="true"></span>
                        </div>

                        <ul id="poll-content" class="show">
                            <li ng-repeat="data in allPolls| orderBy: '-created_at'">
                                <div class="poll-result-contain" ng-hide="data.user_ID === userID || data.deleted">

                                    <div class="item item-avatar poll-friends-question">
                                        <img src="./img/user1.jpg">
                                        <h2><b>{{data.name}}</b> asked: </h2>
                                        <p class="poll-question-text">{{data.question}}</p>
                                        <a href="" class="poll-time">{{data.created_at | date : "MM/dd/yyyy"}}</a>
                                    </div>
                                    <!--
                                                                            <div class="item item-text-wrap clearfix poll-question">
                                                                                    <p class="poll-question-text"></p>
                                                                            </div>
                                    -->
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Pie Graph'">
                                        <canvas id="pie" class="chart chart-pie"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Bar Graph'">
                                        <canvas id="bar" class="chart chart-bar"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Radar Graph'">
                                        <canvas id="radar" class="chart chart-radar"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-text-wrap polls-chart" ng-show="data.userAnswers.length && data.graph === 'Polar Area Chart'">
                                        <canvas id="polar-area" class="chart chart-polar-area"
                                                chart-data="data.data" chart-labels="data.labels">
                                        </canvas>
                                    </div>
                                    <div class="item item-image col left" ng-class="data.imgUrls.length == 1 ? 'col-100' : 'col-50'" ng-show="data.imgUrls.length">
                                        <img ng-src="{{data.imgUrls[0]}}">
                                    </div>
                                    <div class="item item-image col col-50 left" ng-show="data.imgUrls.length > 1">
                                        <img ng-src="{{data.imgUrls[1]}}">
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                    <!-- Update Poll -->
                    <div class="polls-list" ng-show="pollsScreen.page == 3">
                        <form  name="pollsEditForm" class="form-validate" novalidate>
                            <label class="item item-input" ng-class='{"item-invalid": highlightInvalidEdit(pollsEditForm.questione.$invalid)}'>
                               <i class="icon placeholder-icon ion-ios-help-outline"></i>
                                <input type="text" class="float-l" name="questione" placeholder="New Question" ng-model="poll.newQuestion"  ng-required="true">
                            </label>
                            <label class="item item-input item-select item-icon-right item-icon-left" ng-class='{"item-invalid": highlightInvalidEdit(pollsEditForm.answerTypee.$invalid)}' ng-required="true">
                               <i class="icon placeholder-icon ion-ios-information-outline"></i>
                                <select name="answerType" class="float-l" ng-options="item as item.label for item in items track by item.id"  ng-model="poll.newSelected" ng-required="true">
                                    <option disabled value="">Select Answer Type</option>
                                </select>
                                <i class="icon ion-ios-arrow-down"></i>
                            </label>
                            <div class="list multiple-poll-list" ng-show="poll.newSelected.id == 3">

                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Answer 1</span>
                                    <input type="text" ng-model="poll.newPreAnsw.answer1" placeholder="Enter predefined Answer 1">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Answer 2</span>
                                    <input type="text" ng-model="poll.newPreAnsw.answer2" placeholder="Enter predefined Answer 2">
                                </label>
                                <label class="item item-input item-floating-label" ng-show="moreAnswers > 2 && poll.newPreAnsw.answer3 != true">
                                    <span class="input-label">Answer 3</span>
                                    <input type="text" ng-model="poll.newPreAnsw.answer3" placeholder="Enter predefined Answer 3 or">
                                </label>
                                <ion-checkbox ng-checked="poll.newPreAnsw.isChecked3" ng-model="poll.newPreAnsw.answer3" ng-show="moreAnswers > 2 && (!poll.newPreAnsw.answer3 || poll.newPreAnsw.answer3 === true)" ng-click="emptyText()">
                                    User can type in custom answer 3
                                </ion-checkbox>
                                <!-- <label class="item item-input item-floating-label" ng-show="moreAnswers>3 && poll.newPreAnsw.answer4 != true && poll.newPreAnsw.answer3 !== true">
                                      <span class="input-label">Answer 4</span>
                                      <input type="text" ng-model="poll.newPreAnsw.answer4" placeholder="Enter predefined Answer 4 or">
                              </label> -->
                                <ion-checkbox ng-checked="poll.newPreAnsw.isChecked4" ng-model="poll.newPreAnsw.answer4" ng-show="moreAnswers > 3 && ((!poll.newPreAnsw.answer4 || poll.newPreAnsw.answer4 === true) && poll.newPreAnsw.answer3 !== true)" ng-click="emptyText()">
                                    User can type in custom answer 4
                                </ion-checkbox>
                                <button class="button button-full button-clear button-light" ng-show="(moreAnswers < 4 && poll.newPreAnsw.answer3 !== true) || moreAnswers < 3" ng-click="showMoreAnswers()">
                                    Add Answer
                                </button>
                                <button class="button button-full button-clear button-light" ng-show="moreAnswers > 2" ng-click="showLessAnswers()">
                                    Remove Answer
                                </button>
                            </div>
                            <label class="item item-input item-select item-icon-right item-icon-left" ng-class='{"item-invalid": highlightInvalidEdit(pollsEditForm.shareWithe.$invalid)}'>
                               <i class="icon placeholder-icon ion-share"></i>
                                <select name="shareWith" class="float-l" ng-options="item as item.label for item in shareWith track by item.id" ng-model="poll.newSelectedShare" ng-required="true">
                                    <option disabled value="">Share With</option>
                                </select>
                                <i class="icon ion-ios-arrow-down"></i>
                            </label>
                            <label class="item item-input item-select" ng-show="poll.newSelectedShare.id == 2">
                                <div class="input-label">
                                    Select New Group
                                </div>
                                <select ng-options="item as item.name for item in groups" ng-model="poll.newSelectedGroup">
                                </select>
                            </label>

                            <label class="item item-input" ng-show="poll.newSelectedShare.id == 3">
                                <span class="input-label">Select Contacts</span>
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" placeholder="Search contact" ng-model="poll.newFriend"
                                       ion-autocomplete readonly="readonly" class="ion-autocomplete"
                                       autocomplete="off" items-method="getItems(query)"
                                       item-value-key="email" item-view-value-key="name" >
                            </label>
                            <label class="item item-input item-select item-icon-right item-icon-left" ng-class='{"item-invalid": highlightInvalidEdit(pollsEditForm.graphTypee.$invalid)}'>
                               <i class="icon placeholder-icon ion-pie-graph"></i>
                                <select name="graphType" class="float-l" ng-options="item as item.label for item in graphs track by item.id" ng-model="poll.newSelectedGraph" ng-required="true">
                                    <option disabled value="">Select Result Graph Type</option>
                                </select>
                                <i class="icon ion-ios-arrow-down"></i>
                            </label>
                            <label class="item item-icon-right item-icon-left" href="" ng-show = "poll.newSelectedShare" onclick="document.getElementById('upload').click(); return false">
                               <i class="icon ion-image placeholder-icon"></i>
                                <span>Upload Images (2 max.)</span>
                                <i class="icon ion-ios-arrow-right"></i>
                            </label>
                            <button ng-click="uploadFiles()"
                                    accept="image/*" ngf-max-size="2MB" id="upload" style="visibility: hidden; width: 1px; height: 1px" multiple="multiple"></button>
                            <!-- Files: -->
                            <ul ng-show="files.length">
                                <li class="polls-upload-images" ng-repeat="f in files" style="font:smaller">
                                    <!-- {{f.name}} {{f.$errorParam}}-->
                                    <!-- <span class="progress" ng-show="f.progress >= 0">
                                            <div style="width:{{f.progress}}%"
                                                    ng-bind="f.progress + '%'"></div>
                                                  </span> -->
                                    <img style="width:100px;" ngf-thumbnail="f || '/thumb.jpg'"/>
                                    <a href="" ng-click="removeImage($index)"><i class="icon ion-ios-close"></i></a>

                                </li>
                                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                </li>
                                {{errorMsg}}
                            </ul>

                            <button class="button button-full button-balanced" ng-click="updatePoll(pollsEditForm.$valid); ">
                                Update Poll
                            </button>
                        </form>
                    </div>
                </ion-list>

            </div>

        </ion-scroll>
    </ion-content>
</ion-view>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
      }
    }
</script>