<ion-view view-title="Connections" class="connections-screen">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-chevron-left" ng-click="goToMain();"></button>
    </ion-nav-buttons>
    <div class="tabs-top">
   <div class="tabs">
        <a class="tab-item" ng-click="connection.page = 1;" ng-class="connection.page == 1 ? 'tab-item-active' : ''">
          Connections
        </a>
        <a class="tab-item" ng-click="connection.page = 2;" ng-class="connection.page == 2 ? 'tab-item-active' : ''">
          Groups
        </a>
      </div>
  </div>
    <ion-content>
        <ion-list>
            <div ng-show="connection.page == 1" class="connections-friends-screen">
                <div class="chat-search-friend">
                    <label class="item item-input">
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" placeholder="Search Connections" ng-model="searchFriend" style="padding-right:50px">
                    </label>
                    <button class="button button-icon icon ion-android-person-add" style="position:absolute; right:10px; top:0px; z-index: 10" type="button" ng-click="addFriendOpen();">
                    </button>
                </div>
                <div class="friends-list">
                    <a class="item item-avatar" href="#" ng-repeat="friend in friendslist| filter: searchFriend | orderBy:'name'" ng-show="friend.pending">
                        <img src="./img/user1.jpg">
                        <h2>{{friend.name}}</h2>
                        <p class="friends-pending">Pending</p>
                    </a>
                    <a class="item item-avatar" href="#" ng-repeat="friend in friendslist| filter: searchFriend | orderBy:'name'" ng-show="friend.acceptable">
                        <img src="./img/user1.jpg">
                        <h2>{{friend.name}}</h2>
                        <div class="friends-pending-buttons">
                            <button class="button button-small button-calm" ng-click="friends.acceptConnection(friend._id)">Accept</button>
                            <button class="button button-small button-assertive" ng-click="friends.skipConnection(friend._id)">Decline</button>
                        </div>
                    </a>
                    <a class="item item-avatar item-icon-right" href="#" ng-repeat="friend in friendslist| filter: searchFriend | orderBy:'name'" ng-show="friend.accepted">
                        <img src="./img/user1.jpg">
                        <h2>{{friend.name}}</h2>
                        <i class="icon ion-ios-close-outline" ng-click="friends.removeConnection(friend._id)"></i>
                    </a>
                    <!--<a class="item item-avatar" href="#">-->
                    <!--  <img src="./img/avatar_circle.png">-->
                    <!--  <h2>Billy</h2>-->
                    <!--</a>-->
                    <!--<a class="item item-avatar" href="#">-->
                    <!--  <img src="./img/user2.jpg">-->
                    <!--  <h2>Casey</h2>-->
                    <!--</a>-->
                    <!--<a class="item item-avatar" href="#">-->
                    <!--  <img src="./img/avatar_circle.png">-->
                    <!--  <h2>Devin</h2>-->
                    <!--</a>-->
                </div>
            </div>
            <div ng-show="connection.page == 2">
               <div class="chat-search-friend">
                    <label class="item item-input">
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" placeholder="Search Groups" ng-model="searchGroup" style="padding-right:50px">
                    </label>
                </div>
                <div class="friend-groups-list">
                    <div class="item item-icon-left">
                        <div class="float-l gname-input-wrapper">
                            <input type="text" class="float-l large-textbox" placeholder="Add New Group" ng-model="groups.groupname">
                        </div>
                        <div class="float-r gadd-button-wrapper">
                            <button class="float-r button button-small ion-plus no-padding-right input-button" ng-click="groups.addGroup()" ng-show="groups.groupname.length > 0"> Add</button>
                        </div>
                    </div>
                    <a class="item item-icon-left" href="javascript:void(0)" ng-repeat="group in groups.grouplist|filter: searchGroup |orderBy: !'timestamp'" >
                       <div class="group-list-icon">
                           <i class="fa fa-users"></i>
                       </div>
                        
                        <span>{{group.name}}</span>
                        <span class="float-r" ng-click="openPopover($event, group)"><i class="ion ion-edit action-icon"></i></span>
                        <span class="float-r" ng-click="addFriendsToGroup(group)"><i class="ion ion-ios-plus-outline action-icon"></i></span>
                    </a>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
