<ion-view view-title="" hide-back-button="true">
    <ion-content class="main-screen-content">
        <div class="main-screen-header">
           <h4>{{firstLogin ? 'Hello, ' + fName : 'My Dashboard'}}</h4>
        </div>
        <div class="menu-items">
            <div class="row">
                <a class="col col-33 col-offset-33" href="#/main/dash" ng-click="showTabBar();"><span><i class="icon ion-social-rss-outline" aria-hidden="true"></i></span>News Feed</a>
            </div>
            <div class="row">
                <a class="col col-33" href="#/main/plan" ng-click="showTabBar();"><span><i class="icon ion-ios-calendar-outline"></i></span>Plan</a>
                <a class="menu-secondrow-seconditem col col-33" href="#/main/userprofile" ng-click="showTabBar();"><span><i class="icon ion-ios-person-outline"></i></span>My Settings</a>
                <a class="col col-33" href="#/main/interact" ng-click="interactFirstPage();showTabBar();"><span><i class="icon ion-images"></i></span>Posts</a>
            </div>
            <div class="row">
                <a class="col col-33" href="#/main/polls" ng-click="showTabBar();"><span><i class="icon ion-stats-bars"></i></span>Polls</a>
                <a class="menu-secondrow-seconditem col col-33" href="#/main/friends" ng-click="goToFriends();showTabBar();"><span><i class="icon ion-ios-people-outline"></i></span>Friends</a>
                <a class="col col-33" href="#/main/interact" ng-click="interactSecondPage();showTabBar();"><span><i class="icon ion-ios-chatbubble-outline"><span class="badge badge-assertive absolute" ng-if="unreadCount>0">{{unreadCount}}</span></i></span>Chat!</a>
            </div>
        </div>
    </ion-content>
</ion-view>