<ion-view view-title="More">
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Date Of Birth</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Stacked Form</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
      <section>
        <select class="cs-select cs-skin-elastic">
          <option value="" disabled selected>Select Country</option>
          <option value="france" data-class="flag-france">France</option>
          <option value="brazil" data-class="flag-brazil">Brazil</option>
          <option value="argentina" data-class="flag-argentina">Argentina</option>
          <option value="south-africa" data-class="flag-safrica">South Africa</option>
        </select>
      </section>
      
      <ion-toggle>
        Enable Notification
      </ion-toggle>

      <ion-checkbox>
        Checkbox
      </ion-checkbox>

      <ion-radio ng-model="choice" ng-value="'A'">Radio input A</ion-radio>
      <ion-radio ng-model="choice" ng-value="'B'">Radio input B</ion-radio>
      <ion-radio ng-model="choice" ng-value="'C'">Radio input C</ion-radio>
      <!-- script for select input -->
      <script>
        (function() {
          [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
            new SelectFx(el);
          } );
        })();
      </script>
    </ion-list>
  </ion-content>
</ion-view>
