<ion-view view-title="Interact" class="interact-screen">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-chevron-left" ng-click="goToMain();"></button>
    </ion-nav-buttons>
    <div class="tabs-top">
        <div class="tabs">
            <a class="tab-item" ng-click="interact.page = 1;" ng-class="interact.page == 1 ? 'tab-item-active' : ''">
                Posts
            </a>
            <a class="tab-item" ng-click="interact.page = 2;" ng-class="interact.page == 2 ? 'tab-item-active' : ''">
                Private Messages
            </a>
        </div>
    </div>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="interact-private-messages" ng-show="interact.page == 2" style="position: relative">
            <div class="chat-search-friend">
                <label class="item item-input">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search Friends" ng-model="sort.chatSort" style="padding-right:50px">
                </label>
                <button class="button button-icon icon ion-ios-plus-empty" style="position:absolute; right:10px; top:0px; z-index: 10" type="button" ng-click="openFriendList()">
                </button>
            </div>
            <div class="item item-avatar" ng-repeat="friend in initiatedChatList| filter:sort.chatSort" ng-click="addEventOpen(friend);" ng-show="initiatedChatList.length > 0">
                <img src="img/user2.jpg">
                <h2>{{getName(friend)}}</h2>
                <p class="">
                    <span ng-if="friend.type == 'Msg'">{{friend.msg}} <!-- <span class="badge badge-assertive">0</span> --></span>
                    <span ng-if="friend.type == 'Image'"><i class="icon ion-image"></i> Image</span>
                </p>
                <span class="chat-time">{{friend.sent_time| date : "MM/dd/yyyy"}}</span>
            </div>
            <!-- <div class="item item-avatar"  ng-click="addEventOpen();">
              <img src="img/user1.jpg">
              <h2>dayaki007</h2>
              <p class="ion-android-done"> i am living on top</p>
            </div>
            <div class="item item-avatar" ng-click="addEventOpen();">
            
              <img src="img/user1.jpg">
              <h2>james777</h2>
              <p class="ion-android-done-all"> thanks for help!</p>
            
            </div>
            <div class="item item-avatar" ng-click="addEventOpen();">
              <img src="img/user1.jpg">
              <h2>james777</h2>
              <p class="ion-android-done-all"> thanks for help!</p>
            </div> -->
        </div>

        <div class="interact-posts" ng-show="interact.page == 1" >
            <div class="item item-avatar">

                <img src="img/user1.jpg">
                <input id="postInput" ng-enter="posts.addPost();" type="text" ng-model="posts.postText" placeholder="What's  on your mind?">


            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Who should see this?
                </div>
                <select ng-options="item as item.label for item in posts.shareWith track by item.id" ng-model="posts.selectedShare"></select>
                <i class="icon ion-ios-arrow-down"></i>
            </label>
            <div class="item item-input" ng-show="posts.selectedShare.id == 2">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" name="group" placeholder="Search groups" ng-model="posts.selectedGroups"
                       ion-autocomplete readonly="readonly" class="ion-autocomplete"
                       autocomplete="off" items-method="getGroupItems(query)"
                       item-value-key="_id" item-view-value-key="name" isInitializing="true">
            </div>

            <div class="item item-input" ng-show="posts.selectedShare.id == 3">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" name="friend" placeholder="Search contacts" ng-model="posts.selectedFriends"
                       ion-autocomplete readonly="readonly" class="ion-autocomplete"
                       autocomplete="off" items-method="getItems(query)"
                       item-value-key="_id" item-view-value-key="name" isInitializing="true">
            </div>

            <div   class="item item-avatar">

                <div ng-click="posts.addPost();" style="width: 50%;display: inline-block;vertically-align:middle;"><i style="padding-right: 10px;" class="icon ion-ios-compose-outline" aria-hidden="true"></i><a href="" style="cursor:pointer;color:#000;" >Status</a></div>
                <div ng-click="posts.uploadFile()" style="width: 50%;display: inline-block;vertically-align:middle;"><i style="padding-right: 10px;" class="icon ion-ios-camera-outline" aria-hidden="true"></i><a href="" style="cursor:pointer;color:#000;" >Photo </a></div>


            </div>
            <div class="list card" ng-repeat="postd in posts.postsData| orderBy:'-created_at'" ng-show="!postd.deleted && !postd.expired">


                <div class="item item-avatar posts-body">
                    <img src="img/user1.jpg">
                    <h2>{{postd.user.fullName}}</h2>
                    <!--    <h2>{{postd.content.postBody}}</h2>-->
                    <!--    <p>by <a href="">{{postd.user.fullName}}</a></p>-->
                    <p class="post-date">{{postd.created_at|date: 'MM/dd/yyyy hh:mm a'}}</p>
                    <p class="post-text">{{postd.content.postBody}}</p>
                    <p class="post-shareby" ng-show="postd.sharedBy.length">Shared by <a href="">{{postd.sharedBy[0].fullName}}</a></p>
                    <p class="post-shareby" ng-show="postd.sharedBy.length > 1">and <a href="">{{postd.sharedBy.length}} others</a></p>
                    <p class="interact-post-likes right">
                        <!-- <a ng-click="showBoxOne = !showBoxOne" class="subdued"><i class="icon ion-chatbox"></i>{{postd.comments.length}}</a>-->
                        <a href="" ng-click="" class="subdued"><i class="icon ion-ios-chatbubble-outline"></i> <span>{{postd.comments.length}}</span></a>
                        <a href="" ng-click="posts.addLike($index)" class="subdued"><i class="icon ion-ios-heart-outline"></i> <span>{{postd.likedById.length}}</span></a>
                        <!--<a ng-click ="commentt(postd);" class="subdued">comment</a>-->
                    </p>
                </div>
                <div class="posts-edit-buttons" ng-show="userEmail == postd.user.email">
                    <a href="" ng-click="posts.openEditPost($index)"><i class="icon ion-edit"></i></a>
                    <a href="" ng-click="posts.deletePost($index)"><i class="icon ion-ios-close-outline"></i></a>
                </div>
                <div class="posts-edit-buttons" ng-show="userEmail != postd.user.email">
                    <a class="posts-share-button" href="" ng-click="posts.openSharePost($index)"><i class="icon ion-share"></i></a>
                </div>
                <div class="item item-body" ng-show="postd.content.postImagesUrls.length">
                    <img class="full-image" ng-src="{{postd.content.postImagesUrls[0]}}">
                </div>
                <div class="item item-avatar clearfix posts-comment" ng-repeat="comment in postd.comments">

                    <h3>{{comment.commentBody}}</h3>
                    <a href="" ng-click="posts.delComment(postd.user.id, postd._id, comment._id)"><i class="icon ion-close-round"></i></a>

                </div>
                <!--<div ng-show="showBoxOne" class="item item-avatar" ng-repeat="poc in postd.comments">
                
                <h3>{{poc.text}}</h3>
                <p><a href="">{{poc.commentby.name}}</a></p>
            
              </div>-->
                <div class="item item-avatar post-comment-input">
                    <i class="icon ion-edit icon-placeholder"></i>
                    <input id="postComment{{$index}}" ng-model="posts.commentTexts[$index]" ng-enter="posts.addComment($index)" type="text" placeholder="Add Comments" >

                </div>


            </div>


        </div>

    </ion-content>
</ion-view>
