<ion-view view-title="Connection" hide-back-button="true">
    <ion-content class="main-screen-content">
        <!--        <div class="menu-items">
                    <div class="row">
                        <div class="col col-6"><a href="#/main/friends" ng-click="showTabBar();goToFriends();"><span><i class="icon ion-person-stalker"></i></span></a>Friends</div>
                        <div class="col col-6"><a href="#/main/groups" ng-click="showTabBar();goToGroups();"><span><i class="icon ion-ios-people"></i></span></a>Groups</div>
                    </div>
                </div>-->
        <div class="tabs polls-nav-tab">
            <a class="tab-item" ng-click="showTabBar();goToFriends();">
                Friends
            </a>
            <a class="tab-item" ng-click="showTabBar();goToGroups();">
                Groups
            </a>
        </div>
    </ion-content>
</ion-view>