<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive" ng-controller="TabsCtrl" ng-class="{'tabs-item-hide': hideTabs}">

  <!-- Dashboard Tab -->
  <ion-tab title="News Feed" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/main/dash">
    <ion-nav-view name="main-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="PROFILE" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/main/account">
    <ion-nav-view name="main-account"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="MORE" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/more">
    <ion-nav-view name="main-more"></ion-nav-view>
  </ion-tab>

  <!-- Polls Tab -->
  <ion-tab title="POLLS" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/polls">
    <ion-nav-view name="tab-polls"></ion-nav-view>
  </ion-tab>

</ion-tabs>
