/*
        Custom Fonts
*/
.divi{
    width: 33%;
}

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
        url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
        url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
        url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
        url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
        url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
        url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
        url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
        url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
        url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
        url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*@font-face {
  font-family: 'avenir';
  src: url('../fonts/avenir-book.eot');
  src: url('../fonts/avenir-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avenir-book.woff2') format('woff2'),
       url('../fonts/avenir-book.woff') format('woff'),
       url('../fonts/avenir-book.ttf') format('truetype'),
       url('../fonts/avenir-book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-light';
  src: url('../fonts/avenir-light.eot');
  src: url('../fonts/avenir-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avenir-light.woff2') format('woff2'),
       url('../fonts/avenir-light.woff') format('woff'),
       url('../fonts/avenir-light.ttf') format('truetype'),
       url('../fonts/avenir-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

/*
        Misc
*/
.scroll-bar-indicator {
    display: none;
}
.no-padding {
    padding: 0px;
}
.bar-stable .button.button-icon {
    color: #fff;
}

/*
        Custom Animation
*/
.slide-in-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }

/*
        Login Page
*/
.login-text-box{

    background:rgba(255,255,255,.8);
    border-radius:25px;
    padding-left:20px;
    padding-top:1.5px;
    padding-bottom:1px;
    width: 83%;
    margin-bottom: -10px;
}

.login-text-box.m-top{
    margin-bottom: 15px;  
}

.login-text-box.item-input input{
    font-family: "OpenSansLight";
    margin-left:-30px;
    padding-left:30px !important;
    color:black !important;
    font-size: 17px;
    font-weight: 400;
}

.login-text-box.item-input ::-webkit-input-placeholder {
    color:black;
    font-size: 17px;
    font-weight: 400;
}

.login-text-box :-moz-placeholder { 
    color:#fff; 
    text-align:center; 
}

.login-text-box ::-moz-placeholder { 
    color: #fff;  
    text-align:center;
}

.login-text-box :-ms-input-placeholder {  
    color:#fff; 
    text-align:center;
}

.m-top{
    margin-top:30px;

}

.login-submit-box{ 
    background:#333;
    border-radius:35px;
    padding-left:35px;
    padding-top:15px;
    padding-bottom:5px;


}
.scroll-content.login {
    background-color: #fff;
}
.login-wrapper #logo {
    width: 80%; /* 80% so that i can center it on the screen*/
    margin: 3em auto;
}
.login-wrapper #logo img {
    width: 75%;
    display: block;
    margin: 0 auto;
}
.login-icon{
    color:#fff;

}

.login-dont{
    color:#52a2ce;

}

.login-create{
    color:white;
    font-family: "OpenSansRegular";
}

.login-create span{
    font-family: "OpenSansBold";
}

.login-create1{
    color:white;
    font-family: "OpenSansBold";
}
.text-create{

    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

/* Edit if you want to increase width of the login box */
#login-box {
    width: 82%;
    margin: 30% auto; /* centers it on the screen */
    /*margin-top: 30% - this determine the distance btw the logo and login box*/
}
#login-box .item {
    border-color: transparent;
}
#login-box .item-input .icon {
    min-width: 33px;
    font-size: 34px;
    line-height: 1px;
}
.item-input input {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 15px;
    padding-left: 5px;
}
#login-box .submit {
    background: #52A2CE;
    height: 34px;
    text-align: center;
    cursor: pointer;
    border-radius:25px;
    width:82%;
    padding:0 0 0 0 !important;
    font-family: "OpenSansBold";
}
#login-box .submit p {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 14px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}
#footer {
    position: relative;
    bottom: 0px;
    left: 0px;
}
.bar.bar-assertive.bar-footer {
    background-color: #e9edf1;
    background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
    color: black;
}
/*
if you can the text font-size, you may have to change the "margin-left" on #footer_btn span
*/
#footer_btn {
    width: 90%;
    margin: 0 auto;
    /*font-family: 'avenir', sans-serif;*/
    font-size: 15px;
}
#footer_btn span {
    float: left;
    margin-right: 30%;
}
#footer_btn span:last-child {
    margin-right: 0em;
}

/*
        Sign up
*/
.signup-wrapper .header, .polls-answers .header {
    padding-top: 3px;
    height: 46px;
    background: #52A2CE;
    border-bottom: 1px solid rgba(255,255,255,.2);

}

.signup-wrapper .header .text-left:first-child, .polls-answers .header .text-left:first-child{
    margin-top: 4px;
    position: absolute;
    margin-left: -6px;
}

.signup-wrapper .header .text-left:first-child .icon, .polls-answers .header .text-left:first-child .icon{
    font-size: 21px;
}

.signup-wrapper .header .text-left:first-child span span, .polls-answers .header .text-left:first-child span span{
    position: relative;
    top: -3px;
    left: 3px;
    color: white;
    font-size: 16px;
    font-family: "OpenSansRegular";
}

.signup-wrapper .header .text-left:last-child, .polls-answers .header .text-left:last-child{
    margin: 0 auto;
    text-align: center !important;
}

.header h3 {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 17px;
    color: #fff;
    font-family: "OpenSansSemiBold";
}
.header span i {
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    margin-left: 10px;
}
.header span i span{
    font-family: "OpenSansRegular";
    font-size: 16px;
    margin-left: 3px;
    font-weight: 500;
}

.signup-wrapper .header img, .polls-answers .header img {
    width: 30%;
    margin: 10%;
}
.form-wrapper .item {
    border: none;
    border-bottom: 1px solid rgba(187, 187, 189, 0.3);
    margin-bottom: 19px;
}
.form-wrapper  .item-input .icon {
    min-width: 35px;
    font-size: 30px;
    line-height: 1px;
}
.got_account {
    padding-top: 50px;
}
.got_account p {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 13px;
    color: rgba(29, 29, 38, 0.5);
}
.got_account p a {
    color: #1d1d26;
    text-decoration: none;
}

/*
        Forget Password
*/
.form-wrapper {
    /*font-family: 'avenir', sans-serif;*/
}
.form-wrapper h4 {
    font-family: "OpenSansLight";
    padding: 10px;
    text-align: center;
    margin-top: 25px;
    color: white;
    width: 88%;
    margin-left: 6%;
    font-size: 16px;
}
.form-wrapper button.forgetpass {
    width: 88%;
    line-height: 38px;
    min-height: 38px;
    margin: 0 auto;
    background-color: #52A2CE;
    text-transform: uppercase;
    font-family: "OpenSansBold";
    color: #fff;
    margin-top: 25px;
    border-color: transparent;
    border-radius: 5px;
    /*font-family: 'avenir', sans-serif;*/
}
.form-wrapper p.fineprint {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 10.5px;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: "OpenSansLight";
}

/*
        Timeline
*/
.scroll-content.greyBG {
    background: #f7f7f7;
    padding: 0.6em;
}
.imageHolder {
    background: #fff;
    max-height: 238px;
}
.item.no-padding {
    margin-bottom: 2em;
}
.imageHolder img {
    width: 100%;
}
.imageHolder span.favorite {
    position: absolute;
    z-index: 80;
    top: 0.5em;
    left: 0.4em;
    color: #fff;
    font-size: 1.9em;
    background-color: rgba(94,94,96,.4);
    padding: 4px 10px;
    border-radius: 3px;
}
.mini-info {
    max-height: 63px;
}
.mini-info img {
    width: 80%;
}
.mini-profile p:first-child {
    font-size: 13px;
    font-weight: 600;
}
p.mini-user span {
    color: #2f93dc;
    font-weight: bold;
}
.mini-profile {
    position: relative;
    left: -15px;
    flex: 0 0 85%;
    max-width: 85%;
}
.mini-profile span.mini-icon {
    color: #ccc;
    float: right;
    font-size: 1.15em;
    position: relative;
    bottom: 1em;
}

/*
        Profile
*/
.scroll-content.profile {
    background-color: rgba(192, 192, 192, .1);
}
.profile_img {
    max-height: 250px;
}
.profile_img img {
    width: 100%;
    position: relative;
    z-index: 10;
}
.profile_img span {
    position: relative;
    z-index: 30;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 19px;
    bottom: 60px;
    left: 10px;
    cursor: pointer;
}
.profile_img span i {
    color: #52a2ce;
    font-size: 25px;
    vertical-align: sub;
}
.profile_details h2 {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(229, 229, 299, .8);
}
.profile_details h4 {
    /*font-family: 'avenir', sans-serif;*/
    font-size: 14px;
    opacity: .3;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(229, 229, 299, .8);
}
.profile_details h4:first-child {
    padding-top: 0px;
}
.profile_details h4 span {
    float: right;
    margin-right: 3%;
    opacity: 1;
    font-size: 16px;
    text-transform: initial;
}


/* Ionic Styles */
.bar .title.title-left, .bar.bar-stable .title {
    color: #fff;
}
.bar.bar-stable {
    background-color: #52A2CE !important;
    border: none;
}

.scroll-content.has-header{
    border-top: 1px solid rgba(255,255,255,0.5);
}

.interact-screen .scroll-content.has-header{
    border: none;
}

.bar.bar-stable .title{
    font-family: "OpenSansSemiBold";
    left: 0px !important;
    right: 0px !important;
}

.tabs, .tabs-striped .tabs {
    background: #354050;
}

.tabs-top .tabs{
    background: #52A2CE;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    border-color: red;
}
.tab-item .icon {
    color: #fff;
}
ion-tabs.tabs-color-active-assertive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-assertive .tab-item.active,
ion-tabs.tabs-color-active-assertive .tab-item.activated,
ion-tabs.tabs-color-active-assertive .tab-item {
    color: #fff;
}
.polls-list .icon{
    float: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-wrapper .item-invalid {
    border: none;
    border-bottom: 1px solid rgba(239,71,58, 0.7) !important;
    margin-bottom: 19px;
}

.form-wrapper .item-invalid-year {
    border: none;
    border-bottom: 1px solid rgba(239,71,58, 0.7) !important;
    margin-bottom: 19px;
}

.bar-stable .button.button-clear.back-button{
    color:white;
}

/*css for asterisk*/
span.asterik {
    position: absolute;
    top: 12px;
    color: #ff0000;
}

span.asterik.asterik9 {
    left: 215px;
}

.holder {
    position: absolute;
    margin: 12px -5px;
    color: #A3A3A3;
    cursor: auto;
    font-family: Helvetica;
    font-size: 15px;
    z-index: 1;
    top:0;
    font-family: "OpenSansRegular";
}
.feeds-holder{
    padding: 0px 10px;
}
.no-feeds{
    margin: 50px 0px;
}
.red{
    color: red;
}

input {
    padding:5px;
    font-size:11pt;
}
.col {
    text-align: center;
}
.signup-wrapper .col .button.button-balanced, .polls-answers .col .button.button-balanced {
    line-height: normal;
    min-height: 100%;
    padding: 6px 12px;
}

.form-wrapper label.item-invalid {
    border: none;
    border-bottom: 2px solid rgba(239,71,58, 0.8) !important;
    margin-bottom: 19px;
}

.right{
    float:right;	
}

.left{
    float:left;
}

.friends-head-buttons{
    width: 98%;
    margin-left: 1%;
    margin-top: 36px;
}

.friends-search-input{
    margin-top: -41px;
}

.friends-search-input .ion-search{
    position: relative;
    top: 20px;
    left: 10px;
    z-index: -1;
}

.friends-search-input input{
    padding-left: 31px;
    z-index: 1000;
    height: 20px;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(0,0,0);
}



.friends-search-input ::-webkit-input-placeholder{
    color:#000 !important;
}

.friends-search-input :-moz-placeholder{
    color:#000 !important;
}

.friends-search-input ::-moz-placeholder{
    color:#000 !important;
}

.friends-search-input :-ms-input-placeholder{
    color:#000 !important;
}
.blac
{
    color:#000 !important;

}
.friends-add-friend{
    margin-top: -21px;
}

.friends-head-line{
    width: 100%;
    height: 1px;
    background-color: rgb(221, 221, 221);
    margin-top: 1px;
}

.friends-head-buttons i{
    font-size: .9rem;
    position: relative;
    bottom: -1px;
    margin-right: 4px;
    color:rgb(0, 0, 0);
}

.friends-head-buttons a{
    text-decoration: none;
    margin-left: 10px;
    margin-right:10px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(0,0,0);
}

.icon-plus-fix{
    font-size: 0.5rem;
    font-weight: 400;
    position: relative;
    bottom: 4px;
    left: 1px;
    color:rgb(146, 146, 146);
}

.friend-groups-list i{
    color: rgb(61, 138, 247);
}

.friend-groups-list .item-icon-left{
    width: 100%;
    border-right: none;
}

.friends-head-buttons .ion-android-person-add{
    font-size: .8rem;
}

.friends-head-second{
    margin-top:10px;
    /*padding-top:35px;*/
}

.friends-list .item-avatar{
    display: table;
    width:100%;
    border-right: none;
    border-left: none;
}

.friends-list .item-avatar h2{
    display: table-cell;
    vertical-align: middle;
}

.plans-head-buttons{
    width: 98%;
    margin-right: 1%;
    position: relative;
    top: 10px;
    text-align: right;
}

.plans-head-buttons a{
    color: black;
    font-size: 14px;
    font-family: "OpenSansSemiBold";
}

.polls-nav-tab{
    width: 60%;
    margin-left: 20%;
    position: relative;
    margin-bottom: 15px;
    border-radius: 4px;
}

.interact-nav-tab {
    width: 85%;
    position: relative;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin: 5% auto 2%;
}

.poll-result-contain{
    margin-top:10px;
    margin-bottom:30px;
    clear: both;
}

.polls-time{
    position: relative;
    display: block;
    text-align: center;
    top: -3px;
    right: 5px;
    text-decoration: none;
    color: #52a2ce; 
}

.poll-result-contain .item-input{
    width: 100%;
    border-right: none;
    border-left: none;
}

.poll-question{
    display: table;
    width: 100%;
    border-right: none;
    border-left: none;
}

.poll-question-title{
    display: table-cell;
    vertical-align: middle;
}

.item p.poll-question-text{
    display: table-cell;
    vertical-align: middle;
    max-width: 65%;
    margin-top: 5px;
    font-weight: 900;
    font-size: 1em;
    white-space: normal;
}

.interact-posts .item-avatar h3{
    font-weight: 400;
}

.interact-posts .item-avatar a{
    font-family: "OpenSansSemiBold";
    text-decoration: none;
    color: #52a2ce;
}

.interact-post-likes{
    margin-top: -20px;
}

.interact-post-likes i{
    font-size: 1.5rem;
}

.interact-post-likes .ion-ios-heart{
    font-size: .85rem;
}

.interact-post-likes a.subdued{
    color:#888;
}

.interact-post-likes i.ion-chatbox{
    margin-right: 4.75px;
}

.news-list div.list{
    width: 100%;
}

.news-item .item-divider{
    border: none;
    background-color: transparent;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.news-item .item-text-wrap{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 10px;
    border-color: rgba(221,221,221,.7);
}

.news-item .item-text-wrap p{
    font-size: 16px;
}

.news-footer{
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    margin-bottom: -10px;
    font-family: "OpenSansRegular";
}

.news-item-thumbnail{
    padding-left: 0;
    border-right: none;
    border-left: none;
    max-height: 154px;
    padding-right: 135px;
    min-height: 154px;
}

.news-item-thumbnail>img:first-child{
    max-width: 120px;
    max-height: 120px;
}

.news-item-thumbnail .item-text-wrap{
    border: none;
    margin-bottom: -27px;
    overflow-wrap: break-word;
}

.news-item-thumbnail .item-text-wrap{
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 72px;
}

.news-item-thumbnail .news-footer{
    margin-top: 20px;
    margin-left: 16px;
}
/*
.item-avatar > img:first-child {
    border-radius: 0;
}
*/
.toclass {
    display: inline-block;
}
.select-down {
    display: inline-block;
    width: 94%;
}
.select-down select.form-control {
    width: 100%;
    border: none;
    cursor: pointer;
}
.postfb {
    padding: 10px;
}
.onmnd textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
}

.interact-nav-tab a.tab-item {
    max-width: 100%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.tabs.interact-tabs {
    position: relative;
}

.group-more-options{
    position: absolute;
    top: 85px;
    right: 0;
    z-index: 1000;
}

.tab-item .ion-navicon{
    font-size: 2.15rem;
}

.menu-items{
    margin-top: 7em;
}

.header-text{
    margin-top: 42px;
}

.menu-items .col span:not(.badge){
    width: 65px;
    height: 55px;
    margin: 0 auto;
    display: table;
    border-radius: 100%;
    cursor: pointer;
}

.menu-items .col span i{
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    color: white;
}

.menu-secondrow-seconditem{
    margin-top: 50px;
}

.menu-items .row{
    margin-bottom: -20px;
}

.form-wrapper .item-input .icon.fa-birthday-cake{
    font-size: 25px;
    line-height: 40px;
}

.friend-add-select-code{
    width: 65%;
    float: left;
    border-right: none;
}

.friend-add-select-code select{
    padding-right: 20px;
}

.friend-add-select-code.item-select:after{
    right: 7px;
}

.friend-add-mob-num{
    width: 35.2%;
    float: right;
    border-left: none;
    padding: 6px 0 5px 0px;
    border-bottom: none;
    padding-top: 9px;
}

.friend-add-mob-num.item-input input{
    padding-left: 0px;
}

/*
.friend-add-email{
    width: 100%;
    border-right: none;
}
*/

.popover.active {
    height: 165px;
}

.polls-requested .item-text-wrap h3, .polls-requested .item-text-wrap p{
    display: inline;
}

.polls-requested .item-avatar h2, .polls-answers .item-avatar h2{
    overflow: visible;
    white-space: normal;
}

.polls-answers .item-input .input-label.right{
    overflow: visible;
    white-space: normal;
    width: 100%;
}

a.poll-time{
    text-decoration: none;
    color: #52a2ce;
    font-size: 10px;
    float: right;
    position: relative;
    top: -12px;
    right: -6px;
}

p.friends-pending{
    opacity: .5;
    float: right;
    margin-top: 6px;
    font-family: "OpenSansRegular";
    font-size: 13px;
}

.friends-pending-buttons{
    float: right;
    margin-top: 3px;
}

.friends-pending-buttons button:first-child{
    margin-right: 10px;
}

.select-feeds-field .icon{
    font-size:1em;
    color:#999;
}

.polls-star-rating{
    display: inline-block;
    margin-right: 3px;
}

.polls-star-rating .icon{
    font-size: 1.3em;
}

.polls-star-rating a, .polls-star-rating a:visited{
    color: black;
    border-color: black;
}

.polls-rating-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.spinner:before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.polls-upload-images{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.polls-upload-images a{
    margin-left: 5px;
}

.dob-input-item{
    display: inline-block;
    width: 33%;
}

.dob-input-item .holder{
    margin: 20px 3px;
    pointer-events: none;
}

.dob-input-item input{
    width: 100%;
}

.list-inset .item.signup-dob-item{
    margin-left: 7px;
}

.mob-number-label{
    float: left;
}

.mob-number-inputs{
    margin-top: 2.5px;
    width: 50%;
    float: right;
    background-color: transparent;
}

.mob-number-inputs input{
    display: inline-block;
    text-align: center;
    border: 0;
    max-width: 12%;
    /*font-family: 'avenir', sans-serif;*/
    font-size: 15px;
    background-color: transparent;
}

.mob-number-inputs input:last-child{
    max-width: 100%;
}

.signup-mobile-label{
    margin-left: 10px;
}

.polls-chart{
    clear: both;
    width: 70%;
    margin-left: 30%;
    border: none;
}

.item-select select.plan-invite-select{
    position: relative;
    padding: 0;
    direction: ltr;
    padding-left: 1px;
}

.item-select.plan-invite:after{
    content: initial;
    position: relative;
    right: 0;
    margin-top: 0;
    margin-left: 8px;
}

.polls-results-list .item-image{
    margin-bottom: 25px;
}

.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 30px;
    width: 100%;
    background-color: transparent;
    text-indent:0px !important;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative; 
    height: 100%; 
    width: 42px; 
    top: 7px;
}

.footer-btn {
    position: absolute !important; 
    bottom: 0;
}
/* .chat_text .bar button{
        padding:0;
} */
.no-padding-left{
    padding-left: 0px !important;
}
.no-padding-right{
    padding-right: 0px !important;
}

/*
.chat-right img{
    float:right;
    position: static !important;
}

.chat-right p{
    float:right;
    position: static !important;
    padding-right: 5px;
}
*/

.polls-list .item-floating-label .input-label {
    display: none;
}

ion-tabs.tabs-color-active-assertive .tab-item {
    opacity: 1;
    line-height: 46px;
}

.poll-answer-list .item-select select {
    position: relative;
    padding: 0;
}

.event-item .item-avatar, .event-item .data-items{
    border: none;
    text-align: justify;
    background-color: transparent;
    padding-left: 0px;
}

.event-item .data-items{
    padding-bottom: 8px; 
    padding-top: 8px; 
}

.event-item .data-items:nth-child(2){
    padding-top: 15px; 
}

.event-item .item-avatar h2{
    white-space: normal;
    position: relative;
    top: 8px;
}

.event-item .data-items span:first-child{
    width: 30%;
    display: block;
    float: left;
}

.event-item .data-items span:last-child{
    width: 60%;
    display: block;
    float: left;
    white-space: normal;
    margin-left: 5%;
}

.invited-user-buttons{
    margin-top: 15px;
    padding-left: 2em;
    padding-right: 2em;
}

.editor-buttons{
    margin-top: 15px;
    text-align: center;
}

.editor-buttons button{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.main-screen-content{
    overflow-y: hidden;
}

.event-status .item{
    display: block;
}

.event-status .item .item-notes{
    display: block;
    float: right;
    white-space: normal;
    margin-top: 10px;
    width: 100%;
}

.event-status .item .item-note{
    float: none;
}


.login .login-wrapper{
    /*    margin-top: 30%;*/
}

.login.overflow-scroll div.scroll{
    /*    height: 80%;*/
    margin-top: 30%;
}
.scroll-view.overflow-scroll {
    position: absolute !important;
}
.headerless .popup-head {
    display: none;
}

.news_feed_link{
    white-space: normal;
    color: #000;
    text-decoration: none;
    font-family: "OpenSansSemiBold";
    font-size: 14px;
    display: inline-block;
    line-height: 1.4em;
}
.poll-list-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: row wrap;
}

.poll-list-wrapper ion-list {
    flex: 1 100%;
    align-self: flex-start;
}

.poll-list-wrapper .polls-nav-tab {
    align-self: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}


.interact-posts + .polls-nav-tab{
    width: 80%;
    margin-left: 10%;
}

.interact-posts .item-avatar{
    min-height: 60px;
}

.ion-google-place-container .bar.bar-header.item-input-inset, .ion-google-place-container .has-header{
    margin-top: 20px;
}

.ion-autocomplete-container .bar.bar-header.item-input-inset, .ion-autocomplete-container .has-header{
    margin-top: 20px;
}

.interact-posts .item-avatar:first-child input{
    width: 100%;
}

.posts-edit-buttons{
    float: right;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 14px;
}

.posts-edit-buttons a{
    color: black;
}

.posts-edit-buttons a:first-child{
    margin-right: 10px;
}

p.post-date{
    font-family: "OpenSansLight";
    font-size: 13px;
}

.absolute{
    position:absolute;
}
.notification-btn::before{
    font-size: 20px !important;
}
.text-left{
    text-align: left !important;   
}
.text-right{
    text-align: right !important;   
}
.popup-container .popup{
    border-radius: 24px !important;
}
.popup-buttons .button{
    color: #0c60ee !important;
    background-color: transparent!important;
    border-top: 1px solid #c3c3c3;
}
/*.popup-buttons .button:last-child{
    border-left: 1px solid #c3c3c3;
}*/

.interact-posts .fa-edit,
.interact-posts .fa-camera,
.item-icon-left .icon {
    color: #52a2ce;
}
.groups-head-buttons{
    margin-top: 18px !important;
}
.our-manifesto{
    padding: 18px;
    text-align: justify;
    font-family: "OpenSansRegular";
    font-size: 16px;
}
.support-list{
    padding: 18px;
    text-align: justify;  
    font-family: "OpenSansRegular";
    font-size: 16px;
}
.float-r{
    float: right !important;
}
.float_l, .float-l{
    float: left !important;    
}
.polls-answers .header {
    padding-top: 10px;
}
.polls-answers .header h3 {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
}
.display-inline{
    display: inline !important;
}
.width-100px{
    width: 100px !important;
}
.padding-l-15{
    padding-left: 15px !important;
}
.padding-r-10{
    padding-right: 25px !important;
}
.button.button-green {
    background: green;
}
.scroll-view.login{
    background-image: url("../img/people-mother-family-father.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: color-dodge;
    background-attachment: fixed;
/*    overflow: hidden;*/
    min-height: 100%;
}
.row.forgot-pass-header{
    padding: 0px;
    padding-bottom: 3px;
}
.forgot-pass-header-text{
    width: 63%;
    text-align: center;
}

.row.signup-header{
    padding: 0px;
    padding-bottom: 3px;
}
.signup-header-text{
    width: 62%;
    text-align: center;
}


.forget-pass-content::after, .signup-content::after, .main-screen-content::after{
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

.forget-pass-content .form-wrapper .icon, .forget-pass-content .form-wrapper input{
    color: white;
    font-family: "OpenSansRegular";
}
.forget-pass-content .form-wrapper input::-webkit-input-placeholder {
    color: white;
    font-family: "OpenSansRegular";
}

.forget-pass-content .form-wrapper input:-moz-placeholder { 
    color: white; 
    font-family: "OpenSansRegular";
}

.forget-pass-content .form-wrapper input::-moz-placeholder { 
    color: white;
    font-family: "OpenSansRegular";
}

.forget-pass-content .form-wrapper input:-ms-input-placeholder {  
    color: white;
    font-family: "OpenSansRegular";
}

.signup-content .mob-number-inputs input::-webkit-input-placeholder {
    color: white;
    font-family: "OpenSansRegular";
}

.signup-content .mob-number-inputs input:-moz-placeholder { 
    color: white; 
    font-family: "OpenSansRegular";
}

.signup-content .mob-number-inputs input::-moz-placeholder { 
    color: white;
    font-family: "OpenSansRegular";
}

.signup-content .mob-number-inputs input:-ms-input-placeholder {  
    color: white;
    font-family: "OpenSansRegular";
}

.signup-wrapper .form-wrapper .list-inset{
    margin-top: 10px;
    background-color: transparent;
}

.signup-wrapper .form-wrapper .list-inset .item-input{
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 4px;
    background-color: rgba(255,255,255,.1);
    height: 43px;
    width: 94%;
    margin-left: 3%;
}

.signup-content .form-wrapper .list-inset .item-input{
    height: 42px;
}

.signup-content .form-wrapper .list-inset .item{
    height: 42px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.5);
    width: 94%;
    margin-left: 3%;
    padding-top: 6px;
}

.signup-content .form-wrapper .list-inset > .item-input input{
    margin-left: -10px;
    font-size: 16px;
    color: white;
}

.signup-content .mob-number-inputs input{
    color: white;
}

.signup-content .form-wrapper{
    margin-top: 20px;
}

.signup-content .form-wrapper .list-inset + p{
    color: white;
    font-family: "OpenSansLight";
}

.signup-content .form-wrapper .item-input:first-child{
    width: 45%;
    float: left;
}

.signup-content .form-wrapper .item-input:nth-child(2){
    width: 45%;
    float: left;
    margin-left: 4%;
}

.signup-content .form-wrapper .item-input:first-child input, .signup-content .form-wrapper .item-input:nth-child(2) input{
    padding-right: 5px;
}

.signup-content .holder{
    color: white;
}

.signup-content .holder .red{
    color: white;
}

.signup-content .form-wrapper .list-inset .item-input i, .signup-content .form-wrapper .list-inset .item i{
    color: white;
    font-size: 25px;
    margin-left: -2px;
}

.signup-content .form-wrapper .list-inset .item .input-label, .signup-content .form-wrapper .list-inset .item .input-label .red{
    color: white;
    font-family: "OpenSansRegular";
    font-size: 15px;
}

.signup-content .form-wrapper .list-inset .item .ion-ipad{
    float: left;
    margin-top: 3px;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender{
    border: none;
    height: auto;
    background-color: transparent;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .signup-gender-col{
    width: 50%;
    text-align: center;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .signup-gender-col:last-child .item.item-radio{
    float: right;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio{
    height: auto;
    padding: 0px;
    margin-left: -16px;
    width: 100%;
    text-align: center;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio .radio-content{
    background-color: rgba(255,255,255,.1);
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio .radio-content .item-content{
    background-color: transparent;
    padding: 10px;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio .radio-content .radio-icon{
    visibility: hidden;
    opacity: 0;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio .radio-content .item-content .icon{
    display: block;
    position: relative;
    font-size: 30px;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio .radio-content .item-content span{
    display: block;
    position: relative;
    color: white;
    font-size: 18px;
    margin-top: 4px;
    font-family: "OpenSansRegular";
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio .radio-content .item-content span.asterik{
    display: inline;
    position: static;
}

.signup-content .form-wrapper .list-inset .item-input.signup-gender .item.item-radio input.ng-valid-parse + .radio-content{
    background-color: #324971;
}

.signup-date{
    padding-top: 10px;
}

.signup-date .icon{
    margin-top: 3px;
}

.signup-date .mob-number-inputs{
    margin-top: 0.5px;
    width: 45%;
}

.signup-date .mob-number-inputs input{
    color: white;
    margin-left: 11px;
    padding: 0px;
}

.signup-content .submit-button{
    text-transform: uppercase;
    font-family: "OpenSansBold";
    width: 91%;
    height: 41px;
    font-size: 16px;
    margin-top: 15px;
    background-color: #F7CA18;
}

.got_account p{
    color: white;
    font-size: 15px;
    font-family: "OpenSansLight";
}

.got_account p a{
    color: #F7CA18;
    font-family: "OpenSansRegular";
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 15px;
}

.got_account div{
    margin: 0 auto;
}

/* Back arrow button styles for header section */
.bar-stable .button.button-clear.back-button + .buttons.buttons-left [ng-hide*="pages.pageNum===1"] {
    display: none;
}

.bar-stable .button.button-clear.back-button.hide + .buttons.buttons-left [ng-hide*="pages.pageNum===1"] {
    display: block;
}

.bar-stable .button.button-icon {
    transition-duration: 0s !important;
    -webkit-transition-duration: 0s !important;
}

.back_button{
    font-size: 30px;
    color: #fff;
    padding: 0px 10px;
}

.header-lead-text{
    font-size: 17px;
    color: #fff;
    width: 90%;
}

.header-lead-text .lead{
    text-align: center;
    padding: 7px;
    width: 90%;
}

.pm_upload_img{
    right: 15px;
    position: absolute;
    font-size: 25px;
    padding: 5px 0px;
}

.large-textbox{
    width: 100%;
}

.input-button{
    width: 60px;
}

.gname-input-wrapper{
    width: 80%;
}

.gadd-button-wrapper{
    width: 20%;
}

.gadd-button-wrapper button{
    height: 35px;
    font-size: 15px;
}

.action-icon{
    font-size: 20px;
}


.main-screen-content .menu-items .row a{
    text-decoration: none;
    color: white;
    font-family: "OpenSansSemiBold";
    text-transform: uppercase;
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    .menu-items {
        margin-top: 12em;
    }
    .menu-items .row{
        margin-bottom: -10px;
    }
    div.main-screen-header{
        top: -16%;
    }
}

@media only screen and (min-width: 413px) and (max-width: 500px){
    .menu-items {
        margin-top: 13em;
    }
    .menu-items .row{
        margin-bottom: 5px;
    }
    div.main-screen-header{
        top: -18%;
    }    
}

@media only screen and (min-width: 700px){
    .menu-items {
        margin-top: 23em;
    }
    .menu-items .row{
        margin-bottom: 25px;
    }
    div.main-screen-header{
        top: -23%;
    }
}

.date-button{
    width: 200px;
    background-color: white;
    text-align: left;
    padding: 0px;
    border: none;
    height: 40px;
}

div.item.poll-title{
    font-size: 16px;
    color: rgba(0,0,0,.5);
    font-family: "OpenSansSemiBold";
    position: relative;
    background-color: transparent;
}

.poll-title [class^="fa fa-chevron-"] {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.poll-title .fa.fa-chevron-up {
    display: none;
}

.poll-title.active .fa.fa-chevron-up{
    display:inline-block;
    vertical-align:top;
}

.poll-title.active .fa.fa-chevron-down{
    display: none;
}

ul#poll-content {
    display: none;
}

ul#poll-content.show {
    display: block;
}

.tab-nav.tabs{
    padding-top: 0px;
}

.tab-nav.tabs .tab-item .icon{
    margin-top: 5px;
    font-size: 34px;
}

.tab-nav.tabs .tab-item-active{
    background-color: #EAC835;
}

.back-text{
    display: none !important;
}

.bar-header .ion-ios-arrow-back{
    /*font-size: 17px !important;*/
    padding: 0 8px;
}

.bar-header .ion-ios-arrow-back:before{
    font-size: 45px !important;
}

.tabs-top > .tabs, .tabs.tabs-top{
    top: 44px;
    height: 45px;
}

.tabs-top > .tabs > .tab-item{
    border: 1px solid white;
    height: 25px;
    margin-top: 11px;
    line-height: 24px;
    font-family: "OpenSansRegular";
    max-width: 40%;
    font-size: 13px;
}

.tabs-top > .tabs > .tab-item:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0.5px solid rgba(255,255,255,.5);
}

.tabs-top > .tabs > .tab-item:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0.5px solid rgba(255,255,255,.5);
}

.tabs-top > .tabs > .tab-item.tab-item-active{
    background-color: rgba(255,255,255,0.85);
    color: #52A2CE;
}

.interact-screen .scroll-content.has-header{
    top: 88px;  
}

.poll-content.scroll-content.has-header{
    top: 89px;
    background-color: #F7F7F7;
}

.connections-screen .scroll-content.has-header{
    top: 88px;
    background-color: #f7f7f7;
}

.interact-private-messages .chat-search-friend, .connections-screen .chat-search-friend{
    background-color: #d8d8d8;
    padding: 8px;
}

.interact-private-messages .chat-search-friend .item-input, .connections-screen .chat-search-friend .item-input{
    background-color: white;
    height: 31px;
    border-radius: 5px;
}

.interact-private-messages .chat-search-friend .item-input input, .connections-screen .chat-search-friend .item-input input{
    color: black;
    font-family: "OpenSansRegular";
}

.interact-screen .scroll-content.has-header{
    background-color: #F6F6F6;
}

.interact-private-messages .item-avatar{
    background-color: transparent;
}

.interact-private-messages .item-avatar img{
    top: 12px;
    left: 10px;
    max-width: 50px;
    max-height: 50px;
}

.interact-private-messages .item-avatar h2{
    font-family: "OpenSansSemiBold";
    font-size: 15px;
    margin-top: -3px;
    margin-left: 4px;
}

.interact-private-messages .item-avatar p{
    font-family: "OpenSansRegular";
    font-size: 16px;
    color: black;
    margin-top: 7px;
    margin-left: 4px;
}

.interact-private-messages .item-avatar .chat-time{
    font-size: 12px;
    position: absolute;
    top: 13px;
    right: 10px;
}

.chat-screen .header-lead-text .lead{
    font-family: "OpenSansSemiBold";
}

.chat-screen .header-lead-text{
    margin-left: -21%;
}

.chat-screen .bar-stable .text-left{
    width: 30%;
    color: white;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 3px;
    font-family: "OpenSansRegular";
}

.chat-screen .bar-stable .text-left .icon{
    color: white;
    font-size: 21px;
    padding-right: 2px;
}

.chat-screen .bar-stable .text-left span span {
    position: relative;
    top: -2px;
}

.chat-screen .scroll-content.has-header{
    background-color: #f6f6f6;
}

.chat_text .bar-stable.bar.bar-footer{
    background-color: #354050 !important;
}

.chat_text .bar-stable.bar.bar-footer .button-clear.footer-btn{
    color: #F7CA18;
    font-family: "OpenSansSemiBold";
    opacity: 1;
    font-size: 15px;
    margin-left: 12px;
}


.chat-screen .list.card{
    width: 70%;
    clear: both;
    float: right;
    box-shadow: none;
    background-color: transparent;
}

.chat-screen .list.card .item-avatar{
    padding: 10px;
    background-color: #E6E6E6;
    height: auto;
    min-height: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 3px;
}

.chat-screen .list.card .item-avatar p{
    font-family: "OpenSansRegular";
    font-size: 16px;
}

.chat-left.list.card{
    overflow: visible;
    float: left;
    margin-left: 65px;
}

.chat-left.list.card .item-avatar{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    background-color: #D3D6EC;

}

.chat-avatar{
    position: absolute;
    left: -53px;
    bottom: -5px;
}

.chat-avatar img{
    max-width: 42px;
    max-height: 42px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-message-foot{
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 3px;
    margin-top: 10px;
}

.chat-message-time{
    float: right;
    font-family: "OpenSansLight";
    font-size: 12px;
}

.chat-message-user{
    font-family: "OpenSansSemiBold";
    font-size: 12px;
}

.bar-stable.item-input-inset.message-footer .item-input-wrapper{
    background-color: white;
    max-width: 66%;
}

.bar-stable.item-input-inset.message-footer .item-input-wrapper textarea{
    padding-top: 6px;
    font-size: 15px;
    font-family: "OpenSansRegular";
}

.account-setting-main{
    background-color: #f7f7f7;
}

.account-setting-main .scroll-content.has-header{
    top: 150px;
    border-top: none;
}

.connections-screen .scroll-content.has-header{
    border-top: none;
}

.account-setting-main .scroll-content.has-header.user-profile-screen, .account-setting-main .scroll-content.has-header.news-feed-screen, .account-setting-main .scroll-content.has-header.support-screen, .account-setting-main .scroll-content.has-header.manifesto-screen{
    top: 44px;
}

.account-setting-main .setting-header-logo{
    position: absolute;
    top: 43px;
    background: -webkit-radial-gradient(white 15%,#52A2CE 60%);
    background: -o-radial-gradient(white 15%,#52A2CE 60%);
    background: -moz-radial-gradient(white 15%,#52A2CE 60%);
    background: radial-gradient(white 15%,#52A2CE 60%);
    height: 108px;
}

.account-setting-main .setting-header-logo .setting-logo-img{
    margin-left: 20%;
    width: 60%;
    margin-top: 42px;
}

.account-setting-main .setting-header-logo .setting-logo-img img{
    height: 100%;
    width: 100%;
}

.account-settings-list a.item{
    background-color: #f6f6f6;
    padding-top: 22px;
    padding-bottom: 22px;
    border-color: rgba(0,0,0,.03);
}

.account-settings-list .item.item-icon-right .icon{
    right: 2px;
}

.account-settings-list .item .icon:first-child{
    border-radius: 50%;
    height: 44px;
    width: 44px; 
    padding-left: 6px;
    color: black;
    margin-top: 10px;
}

.account-settings-list .item span{
    margin-left: 15px;
    font-family: "OpenSansSemiBold";
    font-size: 15px;
}

.account-settings-list .item .icon:last-child{
    color: #C6C5CA;
    font-size: 20px;
}

.account-settings-list .item .icon.ion-ios-person-outline{
    font-size: 36px;
}

.account-settings-list .item .icon.ion-social-rss-outline{
    font-size: 30px;
}

.account-settings-list .item .icon.ion-ios-help-empty{
    font-size: 44px;
}

.account-settings-list .item .icon.ion-document-text{
    font-size: 32px;
}

.account-settings-list .button.button-assertive{
    width: 90%;
    margin-left: 5%;
    margin-top: 35px;
    min-height: 40px;
    background-color: #DC3D33;
    font-family: "OpenSansBold";
    font-size: 18px;
}


.bar-stable .settings-back.back-button{
    font-size: 16px;
    margin-top: 0px;
    margin-left: -8px;
    font-family: "OpenSansRegular";
}

.bar-stable .settings-back.back-button .icon:before{
    font-size: 32px !important;
    padding-right: 2px;
}

.bar-stable .settings-back.back-button  span{
    position: relative;
    top: 1px;
    left: -9px;
}
form label.item-invalid {
    border: none;
    border-bottom: 2px solid rgba(239,71,58, 0.8) !important;
    margin-bottom: 19px;
}

.no-text-decoration{
    text-decoration: none;
    font-weight: 600;
}

.events-content .list.list-inset{
    background: transparent;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.events-content .list.list-inset .event-item{
    border: none;
    width: 100%;
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.events-content .list.list-inset .event-item a.item.item-avatar{
    background-color: transparent;
    padding-right: 0px;
    text-align: initial;
    padding-left: 54px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.events-content .list.list-inset .event-item a.item.item-avatar img{
    left: 0px;
}

.events-content .list.list-inset .event-item a.item.item-avatar h2{
    font-family: "OpenSansLight";
    font-size: 15px;
}

.events-content .list.list-inset .event-item a.item.item-avatar h2 span:first-child{
    font-family: "OpenSansSemiBold";
}

.events-list{
    padding-left: 6px;
    padding-right: 6px;
}
.events-list .item.data-items span:first-child{
    font-family: "OpenSansSemiBold";
    font-size: 15px;
}
.events-list .item.data-items span:last-child{
    font-family: "OpenSansRegular";
    font-size: 16px;
}

.event-item .invited-user-buttons .button.button-small, .event-item .editor-buttons .button.button-small{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "OpenSansRegular";
    font-size: 14px;
    padding-bottom: 2px;
}

.event-item .invited-user-buttons, .event-item .editor-buttons{
    margin-top: 18px;
}

.event-item .editor-buttons .button-calm, .event-item .invited-user-buttons .button-calm{
    background-color: #4CDA64;
}
.event-item .editor-buttons .button-assertive, .event-item .invited-user-buttons .button-assertive{
    background-color: #FF3B2F;
}
.event-item .editor-buttons .button-positive{
    background-color: #52A2CE;
}

.event-item .invite-user-accepted{
    font-family: "OpenSansLight";
    font-size: 15px;
    margin-top: 15px;
}

.add-event-content .form-wrapper .item.item-input{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 4px;
}

.add-event-content .form-wrapper .item.item-input .icon{
    font-size: 22px;
}

.add-event-content .form-wrapper .item.item-input input{
    font-family: "OpenSansRegular";
    font-size: 16px;
    margin-left: -7px;
}

.add-event-content .form-wrapper .item.item-input:nth-child(3), .add-event-content .form-wrapper .item.item-input:nth-child(4){
    font-family: "OpenSansRegular";
    font-size: 16px;
    color: rgba(0,0,0,.55);
}

.item-select select.plan-invite-select{
    font-family: "OpenSansRegular";
    font-size: 16px;
}

.item-select select.plan-invite-select.plan-invite-select-placeholder{
    color: rgba(0,0,0,.55);
}

.add-event-content .form-wrapper .item.item-input .icon:last-child{
    position: absolute;
    top: 11px;
    right: -8px;
    font-size: 20px;
    color: rgba(0,0,0,.55);
}

input#postInput{
    margin-top: 4px; 
    font-family: "OpenSansRegular"; 
    font-size: 16px; 
    margin-left: -2px;
    background-color: #f2f2f2;
}

.interact-posts .item.item-avatar:first-child{
    padding-top: 14px;
    padding-bottom: 14px;
}

.interact-posts .item.item-avatar:nth-child(5){
    padding-top: 10px;
    min-height: 56px;
}

.interact-posts .item.item-avatar:nth-child(5):not(.posts-body):not(.post-comment-input) .icon{
    padding-right: 10px;
    font-size: 28px;
    color: #F7CA18;
}

.interact-posts .item.item-avatar:nth-child(5) a{
    top: -3px;
    left: -4px;
    position: relative;
}

.interact-posts .item.item-avatar:nth-child(5) div:last-child .icon{
    padding-right: 10px;
    font-size: 32px;
    position: relative;
    top: 3px;
}

.interact-posts > .item.item-avatar:first-child img{
    top: 12px;
    left: 12px;
    max-width: 45px;
    max-height: 45px;
}

.interact-posts .item-input.item-select{
    padding-left: 12px;
}

.interact-posts .item-input.item-select .input-label{
    font-family: "OpenSansRegular";
    font-size: 15px;
}

.interact-posts .item-input.item-select select{
    font-size: 15px;
    font-family: "OpenSansSemiBold";
    padding-right: 34px;
    background-color: #f2f2f2;
}

.interact-posts .item-input.item-select:after{
    content: initial;
}


.interact-posts .item-input.item-select .icon:last-child{
    position: absolute;
    right: 7px;
    top: 12px;
    pointer-events: none;
    font-size: 17px;
}

.interact-posts{
    background-color: #f7f7f7;
}

.interact-posts > .item{
    background-color: #f2f2f2;
}

.connections-friends-screen .chat-search-friend button.button.button-icon.icon:before{
    font-size: 19px;
    color: #aaa;
}

.connections-friends-screen .friends-list a.item.item-avatar{
    background-color: #f7f7f7;
    min-height: 66px;
}

.connections-friends-screen .friends-list a.item.item-avatar img{
    top: 9px;
    left: 10px;
    max-width: 46px;
    max-height: 46px;
}

.connections-friends-screen .friends-list a.item.item-avatar h2{
    left: -2px;
    position: relative;
    font-family: "OpenSansSemiBold";
    font-size: 14px;
}

.connections-friends-screen .friends-list a.item.item-avatar .icon{
    font-size: 24px;
    color: #aaa;
}

.connections-screen .friend-groups-list .item.item-icon-left:first-child{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.connections-screen .friend-groups-list .item.item-icon-left:first-child .button.ion-plus{
    background-color: transparent;
    font-family: "OpenSansSemiBold";
}

.connections-screen .friend-groups-list .item.item-icon-left{
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.connections-screen .friend-groups-list .item.item-icon-left span:nth-child(2){
    font-family: "OpenSansSemiBold";
    font-size: 14px;
    position: relative;
    top: -2px;
    left: 7px;
}

.connections-screen .friend-groups-list .item.item-icon-left span.float-r{
    position: relative;
    top: 10px;
}

.connections-screen .friend-groups-list .item.item-icon-left span.float-r:nth-child(3){
    margin-right: -5px;
}

.connections-screen .friend-groups-list .item.item-icon-left span.float-r:nth-child(4){
    padding-right: 20px;
}

.connections-screen .friend-groups-list .item.item-icon-left span.float-r .ion{
    color: black;
    font-size: 18px;
}

.connections-screen .friend-groups-list .item.item-icon-left .gname-input-wrapper input{
    font-family: "OpenSansRegular";
    font-size: 15px;
}

.group-list-icon{
    display: inline-block;
    background-color: #52A2CE;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
}

.group-list-icon i.fa{
    font-size: 20px;
    color: white;
}

span.mobnumber-placeholder{
    position: absolute;
    top: 8px;
    left: 35px;
    font-family: "OpenSansRegular";
    font-size: 14px;
    color: rgba(0,0,0,.52);
}

input.mobnumber-input::-webkit-input-placeholder{
    opacity: 0;
    display: none;
}

input.mobnumber-input::-moz-placeholder{
    opacity: 0;
    display: none;
}

input.mobnumber-input:-moz-placeholder{
    opacity: 0;
    display: none;
}

input.mobnumber-input:focus + span.mobnumber-placeholder{
    opacity: 0;
    display: none;
}

input.mobnumber-input{
    font-family: "OpenSansRegular";
    font-size: 14px;
}

.friend-add-email input{
    font-size: 14px;
    font-family: "OpenSansRegular";
}

.friends-add-new-contain label.item.item-input{
    height: 36px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
}

.friends-add-new-contain .button.button-block{
    width: 90%;
    margin: 0 auto;
    margin-top: 17px;
    min-height: 34px;
    line-height: 2;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold";
    font-size: 14px;
    background-color: #52A2CE;
}


.main-screen-header{
    position: absolute;
    text-align: center;
    top: -15%;
    width: 100%;

}

.main-screen-header h4{
    color: white;
    font-family: "OpenSansSemiBold";
}

.interact-posts .list.card, .posts-body{
    background-color: #f8f8f8;
    border-top: none;
    box-shadow: none;
}

.interact-posts .list.card{
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.posts-edit-buttons{
    position: absolute;
    top: 8px;
    right: -12px;
    z-index: 100;
}

.posts-body{
    padding-left: 58px;
}

.posts-body img{
    top: 12px !important;
    left: 2px !important;
}

.posts-body h2{
    font-family: "OpenSansSemiBold";
    font-size: 16px;
}

p.post-text{
    position: relative;
    left: -55px;
    top: 10px;
    font-family: "OpenSansRegular";
    font-size: 16px;
}

p.post-shareby{
    position: relative;
    left: -55px;
    top: 7px;
    font-family: "OpenSansLight";
    font-size: 13px;
    width: 196px;
    white-space: normal;
}

.item-avatar .post-shareby a{
    color: black;
    font-family: "OpenSansSemiBold";
}

.interact-post-likes{
    position: relative;
    right: -13px;
    top: 3px;
}

.interact-posts .item-avatar .interact-post-likes a{
    font-family: "OpenSansRegular";
    font-size: 13px;
}

.interact-posts .item-avatar .interact-post-likes a span{
    top: -3px;
    right: 0px;
    position: relative;
}

.post-comment-input, .post-comment-input input{
    background-color: #f8f8f8;
    float: left;
    width: 80%;
    font-family: "OpenSansRegular";
}

.post-comment-input{
    padding-left: 0px;
}


.post-comment-input .icon.icon-placeholder{
    float: left;
    color: rgba(0,0,0,.2);
    font-size: 20px;
    position: relative;
    top: 5px;
    padding-right: 6px;
}

.form-validate > label > input{
    width: 95%;
}

.polls-list .item{
    width: 85%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 5px;
    border-color: rgba(0,0,0,.25);
    background-color: #f7f7f7;
}

.polls-list .item-input input{
    font-size: 16px;
}

.polls-list .item-input input::-webkit-input-placeholder {
    color:rgba(0,0,0,.8);
}

.polls-list .item-input input:-moz-placeholder { 
    color:rgba(0,0,0,.8); 
}

.polls-list .item-input input::-moz-placeholder { 
    color:rgba(0,0,0,.8); 
}

.polls-list .item-input input:-ms-input-placeholder {  
    color:rgba(0,0,0,.8);
}

.polls-list .item-select select{
    font-family: "OpenSansRegular";
    position: relative;
    padding: 8px 30px 7px 5px;
    max-width: 100%;
    direction: ltr;
    font-size: 16px;
    background-color: #f7f7f7;
}

.polls-list .item-select{
    padding-left: 38px;
}

.polls-list .item .icon.placeholder-icon{
    font-size: 18px; 
    color: black; 
}

.polls-list .item-select:after{
    content: none;
}

.polls-list .item span:nth-child(2){
    position: relative;
    left: -12px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    font-family: "OpenSansRegular";
    font-size: 16px;
    display: inline-block;
}

.polls-list .item-icon-left .icon.placeholder-icon{
    left: 9px;
}

.polls-list .item-icon-right .icon:nth-child(3){
    font-size: 20px;
    color: rgba(0,0,0,.5);
    right: 2px;
}

.polls-list .button-full.button-balanced{
    width: 85%;
    margin: 0 auto;
    min-height: 40px;
    font-family: "OpenSansSemiBold";
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1em;
    border-radius: 5px;
}

.polls-list{
    margin-top: 18px;
}

.polls-requested .list.card{
    box-shadow: none;
}

.polls-requested .list.card > .item{
    background-color: #f8f8f8;
}

.polls-requested .list.card > .item.item-avatar{
    padding-top: 4px;
    padding-left: 56px;
    border-bottom: none;
}

.polls-requested .list.card > .item.item-avatar img{
    top: 0;
    left: 0;
}

.polls-requested .list.card > .item.item-avatar h2{
    width: auto;
    font-family: "OpenSansLight";
    font-size: 15px;
}

.polls-requested .list.card > .item.item-avatar h2>span{
    font-family: "OpenSansSemiBold";
}


.polls-requested .list.card > .item.item-text-wrap{
    border-bottom: none;
    padding-top: 14px;
    padding-left: 0;
    padding-bottom: 0px;
}

.polls-requested .list.card > .item.item-text-wrap h3{
    font-family: "OpenSansSemiBold";
    font-size: 15px;
    float: left;
    display: inline-block;
    width: 25%
}

.polls-requested .list.card > .item.item-text-wrap p{
    font-family: "OpenSansRegular";
    font-size: 16px;
    width: 75%;
    display: inline-block;
    float: left;
}

.polls-requested .list.card > .item.item-text-wrap a.poll-time{
    display: block;
    float: none;
    position: absolute;
    top: 40px;
    left: 0;
    font-family: "OpenSansRegular";
    font-size: 11px;
    width: auto;
    color: #F7CA18;
}

.polls-requested .list.card > .item.buttons{
    border-top: none;
    width: 75%;
    padding-left: 0;
    margin-left: 20%;
    float: none;
    padding-top: 10px;
}

.polls-requested .list.card > .item.buttons .button{
    margin-left: 10px;
    min-height: 36px;
    line-height: 0;
    font-size: 15px;
    font-family: "OpenSansRegular";    
    padding: 0 15px;
}

.polls-requested .list.card > .item.buttons .button:first-child{
    background-color: #4CDA64;
}

.polls-requested .list.card > .item.buttons .button:last-child{
    margin-left: 10px;
    background-color: #FF3B2F;
}

.polls-requested .list.card{
    background-color: #f8f8f8;
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding-top: 10px;
}

.chat-screen .list.card .item.item-avatar > p > span{
    white-space: normal;
}

.poll-result-contain{
    background-color: #f8f8f8;
    width: 94%;
    margin-left: 3%;
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.poll-result-contain > .item{
    background-color: #f8f8f8;
}

.poll-result-contain > .item.item-text-wrap:first-child{
    border-bottom: none;
    padding-top: 14px;
    padding-left: 0;
    padding-bottom: 0px;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(0,0,0,.05);
}

.poll-result-contain > .item.item-text-wrap h3{
    font-family: "OpenSansSemiBold";
    font-size: 15px;
    float: left;
    display: inline-block;
    width: 25%
}

.poll-result-contain > .item.item-text-wrap p{
    font-family: "OpenSansRegular";
    font-size: 16px;
    width: 75%;
    display: inline-block;
    float: left;
}

.poll-result-contain > .item.item-text-wrap a.poll-time{
    display: block;
    float: none;
    position: absolute;
    top: 40px;
    left: 0;
    font-family: "OpenSansRegular";
    font-size: 11px;
    width: auto;
    color: rgba(0,0,0,.75);
}

.poll-edit-buttons{
    color: rgba(0,0,0,.5);
    font-size: 20px;
    position: relative;
    top: -20px;
}

.user-profile-list > .item{
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 92%;
    margin-left: 4%;
    height: 43px;
}

.user-profile-list > .item.item-input:first-child{
    width: 44%;
    margin-left: 4%;
    float: left;
}

.user-profile-list > .item.item-input:first-child > .icon{
    padding-left: 3px;
}

.user-profile-list > .item.item-input:first-child > input{
    padding-left: 16px;
}

.user-profile-list > .item.item-input:nth-child(2){
    width: 44%;
    margin-left: 4%;
    float: left;
}

.user-profile-list > .item > .icon.placeholder-icon{
    font-size: 24px;
    top: -1px;
    position: relative;
}

.user-profile-list > .item > input, .user-profile-list > .item > span{
    font-family: "OpenSansRegular";
    font-size: 16px;
}

.user-profile-list{
    margin-top: 10px;
}

.user-profile-list > a.item > .icon{
    color: rgba(0,0,0,.5);
    font-size: 24px;
}

.user-profile-list > a.item > .icon:first-child{
    left: 9px;
}

.user-profile-list > a.item > span{
    top: -5px;
    right: 7px;
    position: relative;
}

.user-profile-list > a.item > .icon:last-child{
    font-size: 18px;
    right: 2px;
}

.change-pass-screen > .item.item-input{
    border: 1px solid rgba(0,0,0,.35);
    width: 92%;
    margin-left: 4%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    height: 40px;
}

.change-pass-screen > .item.item-input:nth-child(2){
    margin-top: 16px;
}

.change-pass-screen > .item.item-input > input{
    font-family: "OpenSansRegular";
    font-size: 15px;
}

.change-pass-screen > .item.item-input > .icon{
    font-size: 18px;
}

.change-pass-screen > .button{
    width: 92%;
    margin-left: 4%;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold";
    min-height: 30px;
    line-height: 36px;
}

.news-feed-settings > .item{
    font-family: "OpenSansSemiBold";
    background-color: #f8f8f8;
    height: 48px;
    padding-top: 12px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    padding-left: 10px;
}

.news-feed-settings > .item > .icon{
    font-size: 1.1em;
    right: 2px;
}

.news-feed-settings > a.float-l{
    text-decoration: none;
    color: #52A2CE;
    font-family: "OpenSansSemiBold";
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
} 

.news-feed-settings > a.float-l > .icon{
    color: rgba(0,0,0,.8);
    font-size: 18px;
    margin-right: 5px;

}

.select-feed-screen > .item{
    width: 90%;
    margin-left: 5%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.25);
    height: 38px;
}

.select-feed-screen > .item:nth-child(2){
    margin-top: 17px;
}

.select-feed-screen > .item > input{
    font-family: "OpenSansRegular";
}

.select-feed-screen > .item > .icon{
    font-size: 19px;
}

.select-feed-screen > .button{
    width: 90%;
    margin-left: 5%;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold";
    min-height: 30px;
    line-height: 36px;
    margin-top: 15px;
}

.no-feeds-contain{
    width: 90%;
    margin-left: 5%;
    border: 1px solid rgba(0,0,0,.35);
    border-radius: 4px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.no-feeds-contain > p.col.no-feeds{
    margin-top: 0;
    text-align: left;
    margin-left: 5px;
    font-family: "OpenSansRegular";
    font-size: 15px;
}

.no-feeds-contain > p.col.no-feeds .icon{
    font-size: 18px;
}

.no-feeds-contain + .button{
    width: 90%;
    margin-left: 5%;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold";
    min-height: 30px;
    line-height: 36px;
    margin-top: 15px;
}

.polls-details-screen{
    background-color: #f7f7f7;
}

.poll-answer-list .item-avatar:first-child{
    padding-top: 13px;
    padding-left: 66px;
    border-bottom: none;
}

.poll-answer-list .item-avatar:first-child img{
    top: 10px;
    left: 10px;
}

.poll-answer-list .item-avatar:first-child h2{
    white-space: normal;
    font-family: "OpenSansRegular";
    font-size: 15px;
}

.poll-answer-list .item-avatar:first-child h2 span{
    font-family: "OpenSansSemiBold";
}

.poll-answer-list .item-input{
    padding: 0;
    margin: 0;
    border: none;
    width: 92%;
    margin-left: 4%;        
}

.poll-answer-list .item .input-label{
    font-family: "OpenSansSemiBold";
    font-size: 15px;
    padding-right: 5px;
    width: auto;
}

.poll-answer-list .item .input-label:last-child{
    font-family: "OpenSansRegular";
    font-size: 16px;
}

.poll-answer-list .item-select select{
    max-width: 100%;
    width: 100%;
    direction: ltr;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.247059);
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    margin-left: 4px;
    background-color: rgb(248, 248, 248);
}

.poll-answer-list .item{
    background-color: #f8f8f8;
}

.poll-answer-list .item:not(:first-child){
    margin-top: 15px;
    margin-bottom: 15px;
}

.poll-answer-list .item-input:nth-child(2){
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 0;
    padding-top: 5px;
}

.poll-answer-list > .list{
    border-bottom: 1px solid rgba(0,0,0,.075);
}

.poll-answer-list .button{
    width: 92%;
    margin-left: 4%;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold";
    min-height: 30px;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.polls-edit-buttons{
    position: relative;
    margin-top: 70px;
    margin-bottom: 10px;
}

.polls-edit-buttons > .poll-edit-buttons{
    top: 0;
}

.polls-results-list .poll-result-contain{
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.polls-results-list .item.poll-friends-question{
    border: none;
    border-top: 1px solid rgba(0,0,0,.05);
    background-color: #f8f8f8;
}

.poll-result-contain .item.polls-chart{
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: -30px;    
}

.poll-result-contain .item-avatar:first-child > img{
    top: 12px;
    left: 3px;
}

.poll-result-contain .item-avatar:first-child{
    padding-top: 14px;
}

.poll-result-contain .item-avatar:first-child > h2{
    font-family: "OpenSansRegular";
}

.poll-result-contain .item-avatar:first-child > h2 > b{
    font-family: "OpenSansSemiBold";
}

.poll-result-contain .item-avatar:first-child > p{
    font-family: "OpenSansRegular";
}

.poll-result-contain .item-avatar:first-child > .poll-time{
    float: left;
    top: 7px;
    left: -56px;
}

.poll-friends-question{
    padding-top: 14px;
    margin-bottom: -13px;
}

.polls-results-list #poll-content{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.list.status-event a.item{
    margin: 0;
    padding-top: 0;
    font-family: "OpenSansSemiBold";
    border-bottom: none;
    background: #f7f7f7;
    padding-top: 10px;
}

.list.status-event div.item{
    font-family: "OpenSansBold";
    font-size: 17px;
    margin-bottom: 0;
    background-color: #dedede;
}
/*button.back-button{
    display: none !important;
}*/

ion-header-bar .text-left{
    width: 18%;
    color: white;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 3px;
    font-family: "OpenSansRegular";
}

ion-header-bar .text-left .icon{
    color: white;
    font-size: 21px;
    padding-right: 2px;
}

#addEventContent{
    height: 100%;
}